/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/node_modules
/resources/public/cljs
/resources/components
/resources/assets/css/app.css
/pc.log
/pc*.log.gz
/out/*
/.repl/*
/resources/public/css/app.css
/production.sh
/datomic-free*/
