// artwork screenshot work in progress
// .featurette {
//   svg {
//     max-width: 100%;
//     overflow: visible;
//   }
//   .svg-actions {
//     fill: #fff;
//   }
//   .svg-menu {
//     stroke-width: 4;
//     stroke: #ccc;
//     fill: #ccc;
//   }
//   .svg-in-progress {
//     line,
//     circle {
//       fill: none;
//       stroke-width: 4;
//       stroke: #bf5bff;
//     }
//   }
//   .svg-cursor {
//     stroke: #bf5bff;
//     fill: none;
//     stroke-width: 4;
//   }
//   .svg-border,
//   .svg-chat,
//   .svg-shape-layers {
//     fill: none;
//     stroke-width: 4;
//   }
//   .svg-border,
//   .svg-chat {
//     stroke: #ccc;
//   }
//   .svg-shape-layers {
//     // stroke: #888;
//     stroke: #ccc;
//   }
// }

// hold off on svg ones for now, trying html
// @art_color: @gray_light;
// @art_black: @gray_dark;
// @art_white: @white;
// .art_both(...) {
//   fill: ;
//   stroke: ;
// }

// .art {
//   path {
//     fill: none;
//     stroke-width: 2;
//   }
//   .art-fill-color { fill:   @art_color; }
//   .art-fill-black { fill:   @art_black; }
//   .art-fill-white { fill:   @art_white; }
//   .art-line-color { stroke: @art_color; }
//   .art-line-black { stroke: @art_black; }
//   .art-line-white { stroke: @art_white; }
//   .art-both-color {
//     .art-fill-color();
//     .art-line-color();
//   }
//   .art-both-black {
//     .art-fill-black();
//     .art-line-black();
//   }
//   .art-both-white {
//     .art-fill-white();
//     .art-line-white();
//   }
// }



// hold off on animating for now, getting hairy with responsive stuff
// .a-ipad,
// .a-ipad-head,
// .a-ipad-body,
// .a-ipad-foot,
// .a-ipad-camera,
// .a-ipad-button,
// .a-screen,
// .a-doc {
//   transition: 250ms;
// }
// .artwork {
//   &:hover {
//     @offset: (@ipad_height - (100% / @ipad_ratio)) / 2;
//     padding: @offset 0;
//     .a-ipad {
//       padding-bottom: (100% / @ipad_ratio);
//       border-radius: (@ipad_button / @ipad_ratio) ~"/" @ipad_button;
//     }
//     .a-ipad-head {
//       width: @ipad_head_height;
//       height: 100%;
//     }
//     .a-ipad-body {
//       top: 0;
//       left: @ipad_head_height;
//       width: @ipad_body_height;
//       height: 100%;
//     }
//     .a-ipad-foot {
//       left: auto;
//       right: 0;
//       width: @ipad_foot_height;
//       height: 100%;
//     }
//     .a-ipad-camera {
//       .a_ipad_circle_reverse(@ipad_button / 3);
//     }
//     .a-ipad-button {
//       .a_ipad_circle_reverse(@ipad_button);
//     }
//     .a-screen {
//       width: 100%;
//       height: 100% - (@ipad_padding_x * 2);
//       margin: @ipad_padding_x 0;
//     }
//     .a-doc {
//       height: 25% * @ipad_ratio;
//     }
//   }
// }

.art-mobile {
  .user-select(none);
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: @art_mobile_height;
  background: @dye_outer;
  border: 1px solid @art_mobile_fill;
  border-radius: (@art_mobile_button * @art_mobile_ratio) ~"/" @art_mobile_button;
}
.art-mobile-head {
  .flexy();
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: @art_mobile_head_height;
}
.art-mobile-body {
  position: absolute;
  top: @art_mobile_head_height;
  left: 0;
  width: 100%;
  height: @art_mobile_body_height;
}
.art-mobile-foot {
  .flexy();
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: @art_mobile_head_height;
}
.art-mobile-camera,
.art-mobile-button {
  width: 0;
  height: 0;
  margin: auto;
  border-radius: @tile_xxl;
  border: 1px solid @art_mobile_fill;
}
.art-mobile-camera {
  padding: (@art_mobile_button / 3) / 2;
}
.art-mobile-button {
  padding: (@art_mobile_button) / 2;
}
.art-screen {
  .flexy();
  width: 100% - (@art_mobile_padding_x * 2);
  height: 100%;
  margin: 0 @art_mobile_padding_x;
  background: @art_mobile_mask;
  border: 1px solid @art_mobile_fill;
  overflow: hidden;
}
.art-menu {
  width: 50%;
}
.art-heading {
  font-size: 1.25em;
  color: @art_mobile_fill;
  font-weight: 300;
  margin: 2% 10%;
  + .art-doc {
    margin-top: 0; // VETO
  }
}
.art-doc {
  .flex(1);
  height: 25%;
  margin: 10%;
  border: 1px solid @gray_lighter;
  overflow: hidden;
  &.selected {
    border: 2px solid @blue; // VETO
  }
}
.art-doc-img {
  max-width: none;
  max-height: 250%;
  opacity: .20;
}
.art-canvas {
  .flex(1);
  height: 66%;
  margin: auto;
  margin-left: 5%;
  box-shadow+: 0  5px 13px fade(@black, 21);
  box-shadow+: 0 -1px  0   fade(@black,  3);
  overflow: hidden;
}



.art-team {
  // >>>>>>>> TODO for dev
  &:hover {
    .access-card {
      &.requesting {
        //
      }
    }
  }
  &:not(:hover) {
    .art-team-list {
      // display: none;
      .animation-name(none);
    }
    .access-card {
      .animation-name(none);
      &.requesting {
        height: 0;
        min-height: 0;
        padding: 0;
        padding-left: 100%;
        overflow: hidden;
        opacity: 0;
        transition-delay: @now;
      }
    }
  }
  // <<<<<<<<
  .user-select(none);
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: @art_mobile_height;
  overflow: hidden;
  &:after {
    .gradient(to bottom, @white, transparent, @white);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .access-card {
    .animation_cascade(7);
    .animation(in-zoom (@run_slower * 2) @bezier_deform);
    height: @tile * 1.5;
    min-height: @tile;
    margin: 0; // VETO
    padding: @menu_padding 0;
    transition: @run_slower (@run_slower * 1.2)  @bezier_deform;
    &:not(.requesting) {
      color: @gray_light; // VETO
    }
  }
}
.art-team-list {
  .animation(in-fade-bottom (@run_slower * 1.5) @bezier_deform);
  .flexy(column);
  .justify-content(center);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  margin-top: -34%;
}



.art-interactive {

  width: 100%;
  height: 0;
  padding-bottom: @art_mobile_height;

  .user-select(none);
  position: relative;
  .art-interactive-body {
    .property-dropdown-targets {
      .flexy();
      overflow-y: visible;
      background: @dye_outer;
      border: none;
      box-shadow+:  0  -1px @art_interactive_color inset;
      box-shadow+: -1px 0   @art_interactive_color inset;
      box-shadow+:  1px 0   @art_interactive_color inset;
    }
    .property-dropdown-target {
      color: @art_interactive_color;
      position: relative;
      cursor: default;
      overflow: visible;
      border: none;
      &:active {
        &.wrong {
          cursor: not-allowed;
        }
        &.right {
          cursor: copy;
        }
      }
      &:last-child {
        max-height: 2rem;
        padding-bottom: 0;
        overflow: hidden;
        &:before {
          .gradient(to bottom, transparent 66%, @dye_outer 100%);
          background-size: 99% 100%;
          background-repeat: no-repeat;
          background-position: 1px -1px;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      &.right {
        &:before {
          .animation(in-fade-bottom @run_slower @bezier_deform);
          .inline(@blue, 2px);
          content: "";
          position: absolute;
          top: -2.5%;
          left: -2.5%;
          width: 105%;
          height: 105%;
        }
      }
    }
  }
}
.art-interactive-name {
  color: @art_interactive_color;
  line-height: 1em;
  position: relative;
  padding: 1em;
  background: @dye_outer;
  border: 1px solid @art_interactive_color;
  box-shadow+:  0  -2px @white;
  box-shadow+: -2px 0   @white;
  cursor: default;
  &:before,
  &:after {
    font-size: .75rem;
    line-height: 1em;
    color: @art_interactive_color;
    position: absolute;
    left: 1em;
    padding: 0 .25em;
    background: @dye_outer;
  }
  &:before {
    content: attr(data-before);
    top: -.5em;
  }
  &:after {
    content: attr(data-after);
    bottom: -.5em;
  }
}
.art-interactive-target {
  .flex(0 0 3em);
  .flexy();
  border-left: 1px solid @art_interactive_color;
  border-right: 1px solid @art_interactive_color;
}
.art-interactive-placeholder {
  color: @art_interactive_color;
  padding: 1rem;
  margin-right: auto;
  cursor: default;
  font-size: 2em;
  line-height: 1rem;
  font-weight: 200;
  padding-left: .75rem;
}
.art-interactive-more {
  font-size: 1.5em;
  color: @art_interactive_color;
  text-align: center;
  width: @tile * .75;
  height: @tile * .75;
  cursor: default;
}
.art-interactive-button {
  .flexy(center; center);
  color: @gray_lightest;
  position: absolute;
  top: -2.25rem;
  left: -1rem;
  width:  (@art_interactive_button) * 3;
  height: (@art_interactive_button);
  border: 1px solid @gray_lightest;
  cursor: default;
}
.art-interactive-text {
  font-size: 20px;
}
.art-interactive-cursor {
  font-size: 1.5em;
  position: absolute;
  left: -.5rem;
  top: 1rem;
  .stroke-cursor {
    fill: @gray_lightest;
    stroke: @dye_outer;
  }
}
