input {
  &[data-adaptive] {
    &[required] {
      width: 100%;
      line-height: 1em;
      height: 3em;
      border: 1px solid @gray_dark;
      outline: none;
      padding: 1em;
      &:focus {
        border-color: @blue;
        + label {
          &[data-placeholder] {
            &:before {
              color: @blue;
            }
          }
        }
      }
      &:focus,
      &:valid {
        + label {
          &[data-placeholder] {
            margin-top: -3.5em;
            margin-bottom: 2.5em;
            transition-duration: @run;
            &:before {
              font-size: 0.75em;
              background-size: 100% 5px;
              transition-duration: @run;
            }
          }
        }
      }
      &:invalid {
        + label {
          &[data-placeholder] {
            &[data-placeholder-nil] {
              &:before {
                content: attr(data-placeholder-nil);
              }
            }
          }
        }
      }
      &:focus {
        + label {
          &[data-placeholder] {
            &[data-placeholder-busy] {
              &:before {
                content: attr(data-placeholder-busy);
              }
            }
          }
        }
      }
      &:valid {
        + label {
          &[data-placeholder] {
            &[data-placeholder] {
              &:before {
                content: attr(data-placeholder);
              }
            }
          }
        }
      }
      &:valid {
        &:not(:focus) {
          + label {
            &[data-placeholder] {
              &[data-placeholder-forgot] {
                &:before {
                  color: @gray_dark;
                  content: attr(data-placeholder-forgot);
                }
              }
            }
          }
        }
      }
    }
    + label {
      &[data-placeholder] {
        margin-top: -2em;
        margin-bottom: 1em;
        white-space: nowrap;
        pointer-events: none;
        transition: @run_slow @bezier_deform;
        &:before {
          .user-select(none);
          content: attr(data-placeholder);
          height: 1rem;
          color: @gray_dark;
          line-height: 1rem;
          margin: 1rem;
          padding: 0 3px;
          transition: @run_slow @bezier_deform;
          background-image: linear-gradient(to bottom, @dye_inner, @dye_inner);
          background-size: 100% 0;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}
.menu {
  input {
    &[data-adaptive] {
      &[required] {
        &:not(:focus) {
          border-color: @gray_light;
        }
      }
      + label {
        &[data-placeholder] {
          &:before {
            color: @gray_light;
            background-image: linear-gradient(to bottom, @dye_outer, @dye_outer);
          }
        }
      }
    }
  }
}
