input {
  &[data-adaptive] {
    &[required] {
      width: 100%;
      line-height: 1em;
      height: 3em;
      border: 1px solid @gray_dark;
      outline: none;
      padding: 1em;
      &:focus {
        border-color: @blue;
        + label {
          &[data-placeholder] {
            &:before {
              color: @blue;
            }
          }
        }
      }
      &:focus,
      &:valid {
        + label {
          &[data-placeholder] {
            margin-top: -3.5em;
            margin-bottom: 2.5em;
            transition-duration: @speed;
            &:before {
              font-size: 0.75em;
              background-size: 100% 5px;
              transition-duration: @speed;
            }
          }
        }
      }
      &:invalid {
        + label {
          &[data-placeholder] {
            &[data-placeholder-nil] {
              &:before {
                content: attr(data-placeholder-nil);
              }
            }
          }
        }
      }
      &:focus {
        + label {
          &[data-placeholder] {
            &[data-placeholder-busy] {
              &:before {
                content: attr(data-placeholder-busy);
              }
            }
          }
        }
      }
      &:valid {
        + label {
          &[data-placeholder] {
            &[data-placeholder] {
              &:before {
                content: attr(data-placeholder);
              }
            }
          }
        }
      }
    }
    + label {
      &[data-placeholder] {
        margin-top: -2em;
        margin-bottom: 1em;
        pointer-events: none;
        transition: @speed_slow @bezier_transform;
        &:before {
          .user-select(none);
          content: attr(data-placeholder);
          height: 1rem;
          color: @gray_dark;
          line-height: 1rem;
          margin: 1rem;
          padding: 0 3px;
          transition: @speed_slow @bezier_transform;
          background-image: linear-gradient(to bottom, @app_background, @app_background);
          background-size: 100% 0;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}
