[data-tooltip-right] {
  &:not([data-tooltip-right=""]) {
    position: relative;
    &:before,
    &:after {
      .translate(0, -50%);
      position: absolute;
      left: 100%;
      top: 50%;
      opacity: 0;
      transition: @speed 0;
      z-index: @zindex_tooltip;
      pointer-events: none;
      .mq_640({
        display: none;
      });
    }
    &:before {
      content: "";
      height: 0;
      width: 0;
      margin-left: -.5em;
      border: .5em solid transparent;
      border-right-color: fade(@tooltip_color, 0);
    }
    &:after {
      content: attr(data-tooltip-right);
      color: @white;
      background: fade(@tooltip_color, 0);
      margin-left: 0;
      padding: .5em 1em;
      white-space: nowrap;
    }
    &:hover {
      &:before,
      &:after {
        opacity: 1;
        transition: @speed_fast (@speed * 4);
      }
      &:before {
        border-right-color: @tooltip_color;
      }
      &:after {
        background: @tooltip_color;
        margin-left: .5em;
      }
    }
  }
}
