html {
  .selection(@color_select; 08);
  .font-smoothing();
  font: @font_size/@line_height @font_family, sans-serif;
  color: @gray_dark;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: fade(@black, 0);
}
body {
  margin: 0;
}
.app {
  min-height: 100vh;
  background: @dye_outer;
  animation: in-fade @run_slower;
  &:not(.entry) {
    &:not(.outer-to-inner) {
      .animate_menu_closed();
    }
  }
  &.chat-opened {
    .width-canvas {
      .size_of(canvas; width);
    }
    .width-chat {
      .size_of(chat; width);
    }
    .canvas-frame {
      .mask_canvas(true);
    }
  }
  &.chat-closed {
    .width-canvas {
      width: 100%;
    }
    .width-chat {
      width: 0;
    }
    .canvas-frame {
      .mask_canvas(false);
    }
  }
}
button {
  background: fade(@white, 0);
  padding: 0;
  border: none;
  white-space: nowrap;
  &:active,
  &:hover {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}
img {
  border: 0;
  max-width: 100%;
}
a {
  color: inherit;
  background: transparent;
  text-decoration: none;
  &:hover {
    .icon(stroke; @color_select);
    .icon(fill; @color_select);
    color: @color_select;
    outline: 0;
  }
  &:active {
    outline: 0;
  }
  &[role="button"] {
    cursor: pointer;
  }
}
i {
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
}
h1 { .h1(); }
h2 { .h2(); }
h3 { .h3(); }
h4 { .h4(); }
h5 { .h5(); }
h6 { .h6(); }
button,
input,
textarea {
  .font-smoothing();
}
p {
  margin: 0 0 1em;
}
code {
  white-space: pre;
  border: 1px solid @gray_lighter;
  &.block {
    .gradient(to bottom, fade(@black, 0) 50%, fade(@black, 02) 50%);
    display: block;
    font-size: 11px; // TODO can improve here
    line-height: 2em;
    margin: 2em 0;
    padding: 2em 1em;
    background-repeat: repeat-y;
    background-size: 100% 4em;
    background-position: center top;
    overflow-x: auto;
  }
}
.divider,
.divider-small {
  .flexy(center, center);
  width: 100%;
  &:before,
  &:after {
    flex: 1;
    content: "";
    border-bottom: 1px solid; // calling w/o color forces inheritance
  }
  &:not(:empty) {
    &:before {
      margin-right: .25rem;
    }
    &:after {
      margin-left: .25rem;
    }
  }
}
.divider-small {
  font-size: 0.75rem;
  line-height: ~"@{line_height}rem";
}
