html {
  color: @gray_light;
  font-family: @font_family;
  font-size: @font_size;
  line-height: @line_height;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
#om-app {
  min-height: 100%;
  background: @app_background;
}
.app {
  .flexy(column);
  background: darken(@app_background, 2);
  overflow: hidden;
}
.app-main {
  .flexy();
  height: 100vh;
  background: @app_background;
  overflow: hidden;
  transition: @speed_fast @bezier_transform;
}
.app-main-outline {
  .user-select(none);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  pointer-events: none;
  transition+: all @speed_fast @bezier_transform;
  transition+: box-shadow @speed @bezier_transform;
}
a {
  background: transparent;
  text-decoration: none;
  &:active,
  &:hover {
    outline: 0;
  }
}
button {
  background: fade(@white, 0);
  padding: 0;
  border: none;
  white-space: nowrap;
  &:active,
  &:hover {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}
img {
  border: 0;
  max-width: 100%;
}
a {
  .icon_fill(@color_link);
  color: @color_link;
  text-decoration: none;
  &:hover {
    .icon_fill(@color_link_hover);
    color: @color_link_hover;
  }
  &[role="button"] {
    cursor: pointer;
  }
}
i {
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
}
h1, h2 {
  line-height: 1.125;
  font-weight: 300;
}
h3, h4 {
  line-height: 1.25;
  font-weight: 400;
}
// h1, h2, h3, h4 {
//   line-height: 1em;
// }
h5, h6 {
  line-height: 1.5;
  font-weight: 400;
}
h1 { font-size: 4.0em; }
h2 { font-size: 3.0em; }
h3 { font-size: 2.0em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.0em; }
h6 { font-size: .75em; }
button,
input,
textarea {
  -webkit-font-smoothing: antialiased;
}
p {
  margin: 0 0 1em;
}
.divider,
.divider-small {
  .flexy(center, center);
  &:before,
  &:after {
    .flex(1);
    content: "";
    margin: 0 .25rem;
    border-bottom: 1px solid; // calling w/o color forces inheritance
  }
}
.divider-small {
  font-size: 0.75rem;
  line-height: ~"@{line_height}rem";
}
