html {
  .font-smoothing();
  font: @font_size/@line_height @font_family, sans-serif;
  color: @gray_dark;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: fade(@black, 0);
}
body {
  margin: 0;
}
.app {
  .animation(in-fade @run_slower);
  min-height: 100vh;
  background: @dye_outer;
}
.inner {
  .flexy();
  .transform-origin(right);
  position: fixed;
  color: @gray_light;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: @run @bezier_deform;
  will-change: transform;
  &:active {
    ~ .hud {
      .user-select(none);
      pointer-events: none;
    }
  }
  a {
    color: darken(@link_hover, 13);
    &:hover,
    &:active {
      color: @link_hover;
    }
    &[role="button"] {
      &:hover,
      &:active {
        .icon(stroke; @white);
        .icon(fill; @white);
      }
    }
  }
}
button {
  background: fade(@white, 0);
  padding: 0;
  border: none;
  white-space: nowrap;
  &:active,
  &:hover {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}
img {
  border: 0;
  max-width: 100%;
}
a {
  .icon(stroke; @link);
  .icon(fill; @link_hover);
  color: @black;
  background: transparent;
  text-decoration: none;
  &:hover,
  &:focus {
    .icon(stroke; @link_hover);
    .icon(fill; @link_hover);
    color: @link_hover;
    outline: 0;
  }
  &:active {
    outline: 0;
  }
  &[role="button"] {
    cursor: pointer;
  }
}
i {
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
}
h1, h2 {
  line-height: 1.125;
  font-weight: 300;
}
h3, h4 {
  line-height: 1.25;
  font-weight: 400;
}
// h1, h2, h3, h4 {
//   line-height: 1em;
// }
h5, h6 {
  line-height: 1.5;
  font-weight: 400;
}
h1 { font-size: 4.0em; }
h2 { font-size: 3.0em; }
h3 { font-size: 2.0em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.0em; }
h6 { font-size: .75em; }
button,
input,
textarea {
  .font-smoothing();
}
p {
  margin: 0 0 1em;
}
.divider,
.divider-small {
  .flexy(center, center);
  &:before,
  &:after {
    .flex(1);
    content: "";
    margin: 0 .25rem;
    border-bottom: 1px solid; // calling w/o color forces inheritance
  }
}
.divider-small {
  font-size: 0.75rem;
  line-height: ~"@{line_height}rem";
}
.mouse-stats {
  .user-select(none);
  pointer-events: none;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1rem;
  opacity: .25;
  &:before,
  &:after {
    .animation(in-fade-bottom @run_slower);
    font-family: @font_mono;
    font-size: .625rem;
    text-align: center;
    position: absolute;
    top: 0;
    right: 100%;
    width: ~"calc(100vw - 100%)";
    height: 100%;
  }
}
