.flexy(...) {
  .arg_1(@a) when (length(@a) = 1) { // align|direction|wrap
    .direction(@a) when (@a = row), (@a = row-reverse), (@a = column), (@a = column-reverse) {
      flex-direction: @a;
    }.direction(@a);
    .wrap(@a) when (@a = wrap), (@a = nowrap) {
      flex-wrap: @a;
    }.wrap(@a);
    .align(@a) when (default()) {
      align-items: @a;
    }.align(@a);
  }
  .arg_2(@a) when (length(@a) = 2) { // align|direction, justify
    .column(@a) when (extract(@a, 1) = column), (extract(@a, 1) = column-reverse) {
      justify-content: extract(@a, 2);
       flex-direction: extract(@a, 1);
    }.column(@a);
    .align(@a) when (default()) {
      justify-content: extract(@a, 2);
          align-items: extract(@a, 1);
    }.align(@a);
  }
  .arg_3(@a) when (length(@a) = 3) { // align, justify, direction
    justify-content: extract(@a, 2);
     flex-direction: extract(@a, 3);
        align-items: extract(@a, 1);
  }
  .arg_4(@a) when (length(@a) = 4) { // align, justify, direction, wrap
    justify-content: extract(@a, 2);
     flex-direction: extract(@a, 3);
        align-items: extract(@a, 1);
          flex-wrap: extract(@a, 4);
  }
  display: flex;
  .arg_1(@arguments);
  .arg_2(@arguments);
  .arg_3(@arguments);
  .arg_4(@arguments);
}
