i {
  &[class|="icon"] {
    svg {
      .to_em(@icon_width);
      width: @to_em;
      height: @to_em;
    }
  }
  [class*="stroke"] {
    fill: none;
    stroke: @black;
    stroke-width: 8;
  }
  [class*="dot"] {
    stroke-linecap: round;
    stroke-width: 20;
  }
}
