.icon_stroke(...) {
  .icon_stroke_color(@a) when (iscolor(@a)) {
    i {
      [class*="stroke"] {
        stroke: @arguments;
      }
    }
  }.icon_stroke_color(@arguments);
}
i {
  &[class|="icon"] {
    svg {
      .to_em(@icon_width);
      width: @to_em;
      height: @to_em;
    }
  }
  [class*="dot"] {
    stroke-linecap: round;
    stroke-width: 20;
  }
}
path {
  &[class*="stroke"] {
    fill: none;
    stroke: @white;
    stroke-width: 8;
  }
}
