#app {
  .flexy();
}
.app-main {
  .flex(1);
}
.app-aside {
  .flexy();
  width: @tile;
  border-right: 1px solid @gray_light;
  transition: 300ms;
  &:hover {
    width: (@tile * 4);
    transition-duration: 200ms;
    transition-timing-function: @bezier_bounce;
  }
}
.aside-menu {
  .flex(1);
  .flexy(column);
  button {
    .flexy(center);
    height: @tile;
    background: fade(@gray_lightest, 0);
    border-bottom: 1px solid @gray_lighter;
    transition: 300ms;
    &:hover {
      cursor: pointer;
      background: @gray_lightest;
      transition-duration: 200ms;
    }
    &:last-of-type {
      margin-top: auto;
    }
  }
}
