#app {
  .flexy();
  color: @gray_lighter;
  background: @gray_darker;
  height: 100vh;
  overflow: hidden;
}
.app-main {
  .flex(1);
  position: relative;
}
#svg-canvas {
  .layers {
    rect,
    line,
    path {
      &:not(#background-grid) {
        fill: none;
        stroke: @gray_light;
        stroke-width: 2;
        &.selected {
          stroke: @select_blue;
        }
        &.selectable {
          stroke-width: 20;
          stroke-opacity: 0;
        }
      }
    }
    g.selectable:hover {
      rect,
      line,
      path {
        &:not(#background-grid) {
          stroke: lighten(@select_blue, 5%);
          &.selected {
            stroke: @select_blue;
          }
        }
      }
    }
  }
  text {
    fill: @gray_light;
    &:hover {
      fill: lighten(@select_blue, 5%);
    }
    &.selected {
      fill: @select_blue;
    }
  }
  .mouse-tool {
    fill: none;
    stroke-width: 6;
  }
  .svg-text-form {
    input {
      border: none;
      background: none;
      outline: none;
      box-shadow: 0 -1px @select_blue inset;
    }
  }
}
#grid,
#small-grid {
  path {
    stroke: @gray_dark;
    transition: 300ms;
  }
}
.mouse-stats {
  .user-select(none);
  pointer-events: none;
  position: fixed;
  top: 100%;
  margin-top: -2em;
  width: 100%;
  text-align: right;
  right: 0.5em;
  color: fade(@white, 25);
  transition-duration: 200ms;
}
.main-actions {
  .flexy(column);
  position: absolute;
  top: 0;
  left: 0;
  width: @tile;
  a {
    .flexy(center, center);
    height: @tile;
    cursor: pointer;
    &:not(:hover) {
      .icon_stroke(@gray_light);
    }
    i {
      svg {
        font-size: 1.5em;
      }
    }
  }
}
.action-menu {
  &:hover {
    + .unseen-eids {
      background: lighten(#c0392b, 10);
      color: @white;
      border: 2px solid lighten(#c0392b, 10);
      padding: ~"calc(.25em + 2px)";
      margin: -4px 0 0 -4px;
    }
  }
  path {
    .random_cascade(3);
    .transform(rotate(0deg); translate(0, 0));
    .transform-origin(center);
    transition: @aside_speed_slow;
    transition-timing-function: @bezier_bounce;
  }
  &:not(.closed) {
    path {
      transition: @aside_speed;
      transition-timing-function: @bezier_transform;
    }
    .menu-stroke-top {
      .transform(rotate(45deg); translate(.75em, .75em));
    }
    .menu-stroke-middle {
      opacity: 0;
      .transform(rotate(45deg));
    }
    .menu-stroke-bottom {
      .transform(rotate(-45deg); translate(.75em, -.75em));
    }
  }
}
.unseen-eids {
  .box-sizing(content-box);
  .transform-origin(center);
  .animation(in-bounce (@aside_speed * 2));
  .user-select(none);
  position: absolute;
  font-size: .75em;
  font-weight: bold;
  line-height: .75em;
  text-align: center;
  top: 1.25em;
  left: 3em;
  height: .75em;
  min-width: .75em;
  margin: -2px 0 0 -2px; // offsets the size of border
  padding: .25em;
  color: lighten(#c0392b, 10);
  background: @gray_darker;
  border: 2px solid lighten(#c0392b, 10);
  border-radius: 2em;
  box-shadow: 0 2px @gray_darker, -2px 0 @gray_darker;
  pointer-events: none;
  transition: @aside_speed;
  i {
    svg {
      width: 1.25em;
      height: 1.25em;
    }
    path {
      stroke: @white;
    }
  }
}
.app-aside {
  .flexy(column);
  width: @aside_width_lg;
  box-shadow: 1px 0 @gray_dark;
  overflow: hidden;
  transition: @aside_speed;
  transition-timing-function: @bezier_bounce;
  &.closed {
    width: 0;
    transition-timing-function: @bezier_transform;
    .icon-user {
      margin: 0 (((@aside_width_sm - @icon_width) / 2) / 2);
      transition-delay: @aside_speed_slow;
    }
    .aside-chat {
      textarea {
        padding-left: 0;
        opacity: 0;
        transition-delay: @aside_speed_slow;
      }
    }
  }
  .aside-settings {
    > button {
      &:hover {
        background: none;
      }
    }
  }
  section {
    .flex(1 1 auto);
    .flexy(column);
    width: @aside_width_lg;
    min-height: @aside_width_lg;
  }
}
.aside-people {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0; // we should calculate to get this effect in the dom
  }
  button {
    .flex(0 0 @tile);
    .flexy(center);
    .button_icon_cascade(32);
    .icon_stroke(@gray_lighter);
    min-height: (@tile / 2);
    color: @gray_light;
    &:hover,
    &:active {
      .icon_stroke(@gray_lightest);
      cursor: pointer;
      color: @gray_lighter;
      background: @gray_dark;
    }
  }
  .icon-user {
    .flex(0 0 auto);
    margin: 0 ((@aside_width_sm - @icon_width) / 2);
    transition+: margin @aside_speed @bezier_transform 0ms;
  }
}
.aside-chat {
  .justify-content(flex-end);
  form {
    .flex(0 0 auto);
    .flexy();
    margin: 0;
    box-shadow: 0 1px @gray_dark inset;
  }
  textarea {
    .flex(1);
    .placeholder_style(color; @gray_dark);
    height: @tile;
    max-height: (@tile * 2);
    background: none;
    padding: 1.25em 1.25em 0;
    border: none;
    outline: 0;
    resize: none;
    transition+: padding @aside_speed @bezier_transform 0ms;
    transition+: height  @aside_speed @bezier_transform 0ms;
    transition+: opacity @aside_speed @bezier_fadein    0ms;
    &:focus {
      .placeholder_style(color; fade(@gray_dark, 0));
    }
  }
}
.chat-messages {
  padding: 1em 0;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0; // we should calculate to get this effect in the dom
  }
  span {
    word-break: break-word;
  }
  .message {
    padding: 0 1em;
  }
}
.radial-menu {
  position: fixed;
  width: (@radial_menu_size * 1.5);
  height: (@radial_menu_size * 1.5);
  .radial-button {
    .scale3d(1.1);
    fill: @gray_dark;
    stroke: @gray_dark;
    &:not(:hover) {
      .scale3d(1);
      fill: @gray_darker;
      i {
        path {
          stroke: @gray_light;
        }
      }
    }
    &:nth-child(1) { .transform-origin(bottom left); }
    &:nth-child(2) { .transform-origin(left); }
    &:nth-child(3) { .transform-origin(top left); }
    &:nth-child(4) { .transform-origin(top right); }
    &:nth-child(5) { .transform-origin(right); }
    &:nth-child(6) { .transform-origin(bottom right); }
  }
  i {
    path {
      stroke: @gray_lighter;
    }
  }
}
.radial-tool-type {
  .flexy(center, center, column);
  .user-select(none);
  pointer-events: none;
  position: absolute;
  text-transform: capitalize;
  &:nth-of-type(1) { top: 100px; left: 215px; }
  &:nth-of-type(2) { top: 170px; left: 260px; }
  &:nth-of-type(3) { top: 240px; left: 215px; }
  &:nth-of-type(4) { top: 240px; left: 140px; }
  &:nth-of-type(5) { top: 170px; left: 100px; }
  &:nth-of-type(6) { top: 100px; left: 135px; }
  i {
    margin-bottom: .25em;
  }
}
.radial-menu-nub {
  @size: (@font_size / 2);
  width: @size;
  height: @size;
  border-radius: @size;
  background: @gray_dark;
  position: absolute;
  top: (((@radial_menu_size * 1.5) - @size) / 2);
  left: (((@radial_menu_size * 1.5) - @size) / 2);
  cursor: default;
}
.right-click-menu {
  display: none !important; // hold off for now
  .flexy(column);
  .outline(@gray_dark);
  position: fixed;
  top: 25%;
  left: 25%;
  width: (@radial_menu_size * (2 / 3));
  background: @gray_darker;
  overflow: hidden;
  button {
    .flexy();
    height: (@tile / 2);
    padding: 0 1em;
    color: @gray_light;
    background: @gray_darker;
    transition: 200ms;
    &:hover {
      color: @gray_lighter;
      background: @gray_dark;
    }
  }
  hr {
    width: 100%;
    border: 0;
    box-shadow: 0 1px @gray_dark inset;
    height: 1px;
  }
}
.right-click-align {
  display: none !important; // hold off for now
  .flexy(column);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  button {
    background: @app_background;
  }
}
.app-overlay {
  .flexy(stretch, center, column);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  figure {
    .flex(1);
  }
}
.overlay-info {
  .flexy(center, center);
  color: @gray_dark;
  background: @white;
  article {
    max-width: (@tile * 10);
  }
}
.info-close {
  .flexy(center, center);
  .icon_stroke(@gray);
  position: absolute;
  top: 0;
  left: 0;
  width: @tile;
  height: @tile;
  i {
    font-size: 1.8em;
    transition: 100ms @bezier_transform;
  }
  &:hover {
    .icon_stroke(@gray_dark);
    i {
      font-size: 2em;
    }
  }
}
.info-okay {
  min-height: 3.5em;
  min-width: 10.5em;
  line-height: 1em;
  padding: 1em 2em;
  border: 1px solid @font_color;
  transition: 100ms @bezier_fadein;
  &:hover {
    color: @white;
    background: @font_color;
  }
}
