* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
// https://github.com/necolas/normalize.css/blob/master/normalize.css
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
[hidden],
template {
  display: none;
}
b,
strong {
  font-weight: 500;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: @font_mono;
  font-size: .75em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; // non-standard prefix
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner, //
input::-moz-focus-inner { // non-standard prefix
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
  -webkit-appearance: none; //
     -moz-appearance: none; // non-standard prefix
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { // non-standard prefix
  height: auto;
}
input[type="search"] {
  box-sizing: content-box;
}
// TODO May not need this now that all inputs get `appearance: none`, not sure yet
// input[type="search"]::-webkit-search-cancel-button,
// input[type="search"]::-webkit-search-decoration { // non-standard prefix
//   -webkit-appearance: none;
// }
textarea {
  overflow: auto;
}
table {
  color: inherit;
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
