.overlay-info {
  h1 {
    .mq_640({
      font-size: 3rem;
    });
  }
}
.info-twitter {
  .mq_640({
    display: none;
  });
}
.main-actions {
  &:hover {
    ~ .radial-tip {
      display: none;
    }
  }
}
