@black:                 #000;
@gray_darkest:          #111;
@gray_darker:           #333;
@gray_dark:             #555;
@gray:                  #888;
@gray_light:            #ccc;
@gray_lighter:          #ddd;
@gray_lightest:         #eee;
@white:                 #fff;

// https://stackoverflow.com/questions/16094837/what-is-the-browser-default-background-color-when-selecting-text
@select_blue:           #accef7;

@app_background: @gray_darker;

@font_size: 16px;
@font_height: 24px;
@font_color: @gray_dark;
@link_color: #299ADE;
@link_color_hover: lighten(@link_color, 13);
@font-weight: 400;

@icon_width: @font_size;

@tile: (@font_size * 4);

@aside_width: (@tile * 4);
@aside_speed: 250ms;
@aside_speed_slow: (@aside_speed * 1.5);

@bezier_fadein: cubic-bezier(0.445, 0.05, 0.55, 0.95);
@bezier_transform: cubic-bezier(0.39, 0.575, 0.565, 1);
@bezier_bounce: cubic-bezier(.55,0,.55,1.44);

@cascade: 10ms;

@radial_menu_size: @aside_width;

@headings_weight: 300;
