@black:                 #000;
@gray_darkest:          #111;
@gray_darker:           #333;
@gray_dark:             #555;
@gray:                  #888;
@gray_light:            #ccc;
@gray_lighter:          #ddd;
@gray_lightest:         #eee;
@white:                 #fff;

@font_size: 16px;
@font_height: 24px;
@font_color: @gray_dark;

@tile: (@font_size * 4);
