// Helpers

@phi: (1 + sqrt(5)) / 2;

// Colors

@black:                 #000;
@gray_darkest:          #111;
@gray_darker:           #333;
@gray_dark:             #555;
@gray:                  #888;
@gray_light:            #ccc;
@gray_lighter:          #ddd;
@gray_lightest:         #eee;
@white:                 #fff;

@gray_mixpanel: #aaa; // TODO: clean this up, maybe mix it with less to get this value from palette?

@blue:               #299ADE;
@red:   lighten(#c0392b, 10);


// Typography

@font_size: 16px;
@line_height: 1.5;
@font_color: @gray_dark;
@font_sans: "Roboto";
@font_mono: "Monaco";
@font_family: @font_sans;

@color_link: @white;
@color_link_hover: @blue;

@color_select: @blue;
@color_select_hover: lighten(@color_select, 13);

// Animation

@speed: 250ms;
@speed_fast: (@speed * 0.4);
@speed_slow: (@speed * 1.5);

@bezier_fadein: cubic-bezier(0.445, 0.05, 0.55, 0.95);
@bezier_bounce: cubic-bezier(.55,0,.55,1.44);
@bezier_transform: cubic-bezier(0.39, 0.575, 0.565, 1);

@cascade: 10ms;

// Components

@tile: (1rem * 4);
@tile_chat: (@tile * 4);
@menu_width: (@tile * 6);
@radial_menu_size: @tile_chat;

@app_background: @gray_darker;
@tooltip_color: @gray_dark;

// Overlay

@overlay_background: @white;

// z-index index

@zindex_info_background: 2;
@zindex_info_article: 3;
@zindex_info_close: 4;
@zindex_info_mixpanel: 5;
@zindex_tooltip: 1;

@zindex_radial_menu: 11;

@zindex_main_menu: 10;
