body {
  -webkit-font-smoothing: antialiased;
}
#app {
}
.app-main {
  min-height: 100vh;
}
.main-head {
  .flexy(column);
  .head-user {
    .flexy(center, space-between);
    height: @tile;
    box-shadow: 0 -1px @grayBoxBorder inset;
    .settings {
      .flexy(center, center);
      .tip(left);
      width: @tile;
      height: @tile;
      &:hover {
        path {
          stroke: @blueLight;
        }
      }
      svg {
        width: (@baseFontSize * 1.5);
        height: (@baseFontSize * 1.5);
        path {
          stroke: @grayLight;
          &:first-child {
            stroke-width: 5;
          }
        }
      }
      &:after {
        font-size: @baseFontSize;
      }
    }
  }
}
.main-body {
  .loading-spinner-big {
    @reserved_height: (@tile * 2);
    .flexy(center, center);
    height: ~"calc(100vh - @{reserved_height})";
  }
}
.main-foot {
  padding: @footerItemSize 0;
  box-shadow: 0 1px @grayLightest inset;
  margin-top: auto;
  .logo {
    display: block;
    height: @footerItemSize;
    width: @footerItemSize;
    background-image: url("@{imgPath}/logomark.svg");
    background-size: @footerItemSize;
    background-position: center left;
    background-repeat: no-repeat;
  }
}
.btn-primary {
  @btnPrimaryBackground: #1f4d80;
  @btnPrimaryBackgroundHighlight: darken(@btnPrimaryBackground, 5%);
  .buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);
}
a {
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
input {
  @height: 3em;
  &[type="text"],
  &[type="search"],
  &[type="email"] {
    .smart_label(@height, (@height / 2));
  }
}
textarea {
  .smart_label(13em, 3px);
}
.loading-spinner,
.loading-spinner-big {
  svg {
    display: inherit;
    width: 1em;
    height: 1em;
    [fill] {
      fill: @grayLighter;
    }
  }
  &:not(span) {
    svg {
      width: @spinnerSize;
      height: @spinnerSize;
    }
  }
}
button [spinner], button [data-spinner]{
  width:  @baseLineHeight;
  height: @baseLineHeight;
  vertical-align: top;
}
.fa.fa-spin {
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
.github-icon-link {
  color: #333;
  .transition(all 0.1s ease-in);
  &:hover {
    text-decoration: none;
    color: #4183c4;
  }
}
.center{
  display: block;
  margin: 0 auto;
}
.center-text{
  text-align: center;
}
.contact-us {
  .notice {
    .error { color: @errorText; }
    .success { color: @successText; }
    margin: 0 0 15px;
  }

  button {
    display: block;
    width: 100px;
  }
}
#sticky-help-link {
  bottom: 0;
  border: 1px solid @black;
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  max-height: 41px;
  overflow: hidden;
  position: fixed;
  right: 20px;
  transition: max-height .7s ease;
  z-index: @zindexStickyFooter;

  .dark-background {
    background: @grayDark;
    color: @white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 10px 19px 11px;
    text-shadow: 0 1px 0 fade(@black, 50%);
  }

  .light-background {
    background: @white;
    padding: 10px 19px 11px;

    .contact-us {
      margin: 0px 0px 15px;
    }
  }

  &.isOpen {
    max-height: 1000px;
  }
}

