.page-blog {
  .flexy(column);
  min-height: 100vh;
  color: @gray_dark;
  ol {
    li {
      margin-bottom: 1em;
    }
  }
  blockquote {
    color: #888;
    font-size: 1.5em;
    font-weight: 300;
    line-height: (1em + (1 / 3));
    margin: (1em + (1 / 3)) 0;
    padding: (2em / 3) 0 (2em / 3) 1em;
    border-left: 2px solid @gray_lighter;
  }
  article,
  figure {
    max-width: (@tile * 10);
    margin: 0 auto;
    padding: 0 1em;
    &.blogpost-footnote {
      padding: 0 1.5em;
    }
    &.wide {
      max-width: (@tile * 15);
    }
    &.cta {
      .flexy(center, center, column);
      padding: 1em;
    }
    > h3 {
      margin: 1em 0 .5em;
    }
  }
}
.blog-cta-button {
  .flexy(center, center);
  min-height: 3.5em;
  min-width: 10.5em;
  line-height: 1em;
  padding: 1em 2em;
  border: 1px solid @font_color;
  transition: @run_fast @bezier_fadein;
  .mq_640({
    width: 100%;
  });
  &:hover {
    color: @white;
    background: @font_color;
  }
  &:not(:hover) {
    color: @gray_dark;
  }
}
.blogroll-post {
  color: @gray_dark;
  padding: 1em 0;
  box-shadow: 0 1px @gray_lighter;
  &:hover {
    color: @gray_darker;
  }
  &:first-child {
    padding-top: 0;
  }
  p {
    color: @gray;
    margin: 0 0 1em;
    &:last-child {
      line-height: 1;
    }
  }
  h3 {
    margin: 0;
  }
}
.blogroll-post-title {
  .flexy();
  padding: 1em 0;
  transition: color @run_fast @bezier_fadein;
  &:not(:hover) {
    color: inherit;
    transition-duration: @run;
  }
}
.blogroll-post-author {
  &:not(:hover) {
    color: @gray;
  }
}
.blogroll,
.blogpost {
  .flex(1);
  font-size: 1.250em;
  margin-bottom: (@tile * 3);
}
.blogpost {
  p {
    margin: 0 0 .5em;
  }
  p,
  li {
    a {
      transition: @run_fast @bezier_fadein;
      &:not(:hover) {
        box-shadow: 0 -1px @white inset, 0 -2px @gray_light inset;
        text-shadow: 1px 0 @white, 2px 0 @white, 3px 0 @white, -1px 0 @white, -2px 0 @white, -3px 0 @white;
        transition-duration: @run;
      }
    }
  }
  > figure {
    > img,
    > video,
    > a {
      // &:only-child {
      //   width: 100%;
      //   margin: 2rem 0;
      // }
      width: 100%;
      margin: 1rem 0;
      &:first-child {
        margin-top: 2rem;
      }
      &:last-child {
        margin-bottom: 2rem;
      }
    }
  }
}
.blogpost-title {
  margin-bottom: 2em;
}
.blog-head {
  .flexy(column);
  .blog-head-logo {
    font-size: 2em;
    text-align: center;
    margin: 1.5em auto;
    padding: 1em 2em;
    .fill-logomark {
      fill: @gray_light;
      transition: @run_slow @bezier_fadein;
    }
    &:hover {
      .fill-logomark {
        fill: darken(@gray_light, 8);
        transition-duration: @run_fast;
      }
    }
  }
}
.play-gif {
  position: relative;
  &:hover {
    &:after {
      opacity: 0;
    }
    [data-caption],
    [data-caption-white],
    [data-caption-black] {
      &:after {
        opacity: 1;
        font-size: 0.750rem;
        padding: 1rem;
        transition+: opacity   @run @bezier_fadein 0ms;
        transition+: color     @run_fast @bezier_fadein    @run_fast;
        transition+: padding   @run_fast @bezier_deform @run_fast;
        transition+: font-size @run_fast @bezier_deform @run_fast;
      }
    }
    [data-caption] {
      &:after {
        color: @blue;
      }
    }
    [data-caption-white] {
      &:after {
        color: @gray;
      }
    }
    [data-caption-black] {
      &:after {
        color: @white;
      }
    }
  }
  &:after {
    .flexy(center, center);
    content: "Hover to play " attr(alt);
    position: absolute;
    color: @white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.blogpost-footnote {
  color: @gray;
  font-size: .75em;
  margin-top: 4em !important; // TODO come fix this soon!
  p {
    line-height: 1.25;
  }
}
