.chat {
  .flexy();
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.chat-offset {
  flex: 1;
  position: relative;
}
.chat-window {
  .size_of(chat; width);
  .flexy(stretch; flex-end; column);
  min-width: @tile;
  max-width: calc(~"100% -" @tile);
  height: 100%;
  background: @dye_outer;
  pointer-events: auto;
  user-select: auto;
  will-change: transform;
  animation: in-fade-right @run_slow @bezier_fadein;
  top: 0;   //
  right: 0; // needed for closing animation
  box-shadow+: 0    1px @color_menu_faint;
  box-shadow+: 0   -1px @color_menu_faint;
  box-shadow+: 1px  0   @color_menu_faint;
  box-shadow+: 1px  0   @color_menu_faint inset;
  &.closed {
    animation-name: none;
    transform: translate3d(100%, 0, 0);
    transition: transform @run_slow @bezier_fadein;
    position: absolute;
  }
}
.chat-background {
  transform-origin: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: @dye_inner;
  border-left: 1px solid @gray_dark;
  will-change: transform;
  transition: @run @bezier_deform;
}
.chat-log {
  .scrollbar_inner();
  position: relative;
  padding: 1em 0;
  overflow-y: auto;
  user-select: none; // so you only select text and not entire chat menu
  transition: @run_fast @run @bezier_fadein;
  span {
    user-select: auto; // so you only select text and not entire chat menu
    white-space: pre-line; // honors new line (shift + enter)
    word-break: break-word;
  }
}
.chat-box {
  flex-shrink: 0;
  position: relative;
  box-shadow: 0 1px @gray_dark inset;
  transition: box-shadow @run_fast @run_fast @bezier_fadein;
}
.chat-input {
  .scrollbar_inner();
  min-height: @tile;
  max-height: @tile_xl;
  padding: 1.25em 1em;
  outline: 0;
  overflow-y: auto;
  &:focus,
  &:not(:empty) {
    ~ .chat-placeholder {
      visibility: hidden;
    }
    ~ .chat-teach-enter {
      transform: translate3d(0, -2em, 0);
      background-size: 100% .25em;
    }
  }
  &:focus {
    ~ .chat-teach-enter {
      color: @color_select;
      &:before {
        content: attr(data-step-2);
      }
    }
  }
  &:not(:empty) {
    ~ .chat-teach-enter {
      &:before {
        content: attr(data-step-3);
      }
    }
  }
}
.chat-placeholder,
.chat-teach-enter  {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1.25em .75em;
  padding: 0 .25em;
  pointer-events: none;
  user-select: none;
  &:before {
    transition: opacity @run_fast @run @bezier_fadein;
  }
}
.chat-placeholder {
  color: @gray_dark;
  &:before {
    content: attr(data-before);
  }
}
.chat-teach-enter {
  .gradient(to bottom, @dye_inner, @dye_inner);
  color: @gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0% .25em;
  transition+: color @run @bezier_deform;
  transition+: background @run_slow @bezier_deform;
  transition+: transform @run @bezier_deform;
  &:before {
    content: attr(data-step-1);
  }
}
.chat-date {
  padding-top: (@tile / 4);
  &.divider-small {
    user-select: auto;
    line-height: 1;
    opacity: .21;
    &:before,
    &:after {
      opacity: .55;
      height: 1px;
    }
  }
}
.chat-message {
  padding: 0 (@tile / 4);
  &:not(:first-child) {
    .message-head {
      margin-top: (@tile / 4);
    }
  }
}
.message-head {
  .flexy(center);
  color: white;
}
.message-avatar {
  flex: 0 0 auto;
  .iconpile {
    height: .75em;
    width: .75em;
    [class|="stroke"] {
      stroke-width: 12;
    }
  }
}
.message-author {
  user-select: auto;
  margin: 0 .5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.message-time {
  user-select: auto;
  flex: 0 0 auto;
  color: @gray_dark;
  font-size: .75rem;
  text-transform: lowercase;
  white-space: nowrap;
}
