.chat {
  .flexy();
  .user-select(none);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.chat-offset {
  .flex(1);
  position: relative;
}
.chat-window {
  .chat_width();
  .animation(in-fade-right @run_slow @bezier_fadein);
  .flexy(stretch; flex-end; column);
  .user-select(auto); // VETO
  position: relative;
  height: 100%;
  background: @dye_outer;
  box-shadow: -1px 0 @gray_lighter;
  pointer-events: auto; // VETO
  will-change: transform;
  top: 0;
  right: 0;
  &.closed {
    .animation-name(none);
    .translate3d(100%, 0, 0);
    .transition_transform(@run_slow @bezier_fadein);
    position: absolute;
    .chat-input {
      visibility: hidden;
      transition: visibility @now @run_slow @bezier_fadein;
    }
  }
}
.chat-background {
  .transform-origin(left);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: @dye_inner;
  box-shadow: -1px 0 @gray_dark;
  will-change: transform;
  transition: @run @bezier_deform;
}
.chat-log {
  .user-select(none); // so you only select text and not entire chat menu
  .scrollbar_hide();
  position: relative;
  padding: 1em 0 1.25em;
  overflow-y: auto;
  transition: @run_fast @run @bezier_fadein;
  span {
    .user-select(auto); // so you only select text and not entire chat menu
    white-space: pre-line; // honors new line (shift + enter)
  }
}
.chat-box {
  .box-sizing(content-box);
  position: relative;
  height: @tile;
  min-height: @tile;
  border-top: 1px solid @gray_dark;
  transition: border-top @run_fast @run_fast @bezier_fadein;
  &:after {
    .gradient(to bottom; @dye_inner; fade(@dye_inner, 0));
    .gradient(to bottom; @dye_inner; fade(@dye_inner, 0));
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33%;
    pointer-events: none;
    transition: @run_fast @run;
  }
}
.chat-input {
  .placeholder_style(color; @gray_dark);
  .placeholder_style(transition; @run_fast @run @bezier_fadein);
  .scrollbar(width; .5em;);
  .scrollbar_thumb(border-radius; .25em);
  width: 100%;
  height: 80%;
  padding: 1.375em 1rem 0;
  padding-right: 2.5rem; // kill this is stationary chat toggle gets killed
  background: none;
  border: none;
  outline: 0;
  resize: none;
  &:hover {
    .scrollbar_thumb(background; fade(@white, 25));
  }
  &:focus {
    .placeholder_style(color; fade(@gray_dark, 0));
    .placeholder_style(transition; @now);
  }
}
.chat-date {
  padding-top: (@tile / 4);
  &.divider-small {
    .user-select(auto);
    line-height: 1;
    opacity: .21;
    &:before,
    &:after {
      opacity: .55;
      height: 1px;
    }
  }
}
.chat-message {
  padding: 0 (@tile / 4);
  &:not(:first-child) {
    .message-head {
      margin-top: (@tile / 4);
    }
  }
}
.message-head {
  .flexy(center);
  color: white;
}
.message-avatar {
  .flex(0 0 auto);
  .iconpile {
    height: .75em;
    width: .75em;
    [class|="stroke"] {
      stroke-width: 12;
    }
  }
}
.message-author {
  .user-select(auto);
  margin: 0 .5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.message-time {
  .user-select(auto);
  .flex(0 0 auto);
  color: @gray_dark;
  font-size: .75rem;
  text-transform: lowercase;
  white-space: nowrap;
}
