.inner {
  .selection(@white; (100 * @opacity_darker_dark));
  .flexy();
  position: fixed;
  color: @gray_light;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform @run_fast @now linear;
  will-change: transform;
  &:active {
    ~ .hud {
      user-select: none;
      pointer-events: none;
      .new-here-items,
      .new-here-button,
      .mouse-stats,
      .privacy-stats {
        pointer-events: none;
      }
    }
  }
  &.loading {
    &:active {
      cursor: wait;
    }
    .canvas-frame:active {
      cursor: wait;
    }
    .shape-layer,
    .text-layer {
      pointer-events: none;
    }
  }
}
.inner-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: @dye_inner;
    transition: @run @bezier_deform;
    will-change: transform;
  }
  &.chat-background {
    background: @dye_outer;
  }
}
.inner-foreground {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 80%;
  height: 80%;
  border: 1px solid fade(@black, 0);
  cursor: pointer;
  user-select: none;
  pointer-events: none;
  transform: scale(1.25);
  transform-origin: right;
  transition+: transform @run @run_fast;
  transition+: left @run_fast @now;
  transition+: box-shadow @run @now;
  will-change: transform;
}
