.issue {
  .issue-title {
    .h4();
  }
  .issue-vote {
    width: @tile;
    height: @tile;
  }
  .issue-card {
    .issue-foot {
      padding: 0;
    }
  }
}
.issues-list {
  .issue-card {
    .issue-divider();
    margin: 0;
  }
}
.issue-card {
  .flexy();
}
.issue-vote {
  @size: 2 * @menu_padding;
  .flexy(center; center; column);
  position: relative;
  width: @size;
  min-width: @size;
  height: @size;
  margin-left: 1rem;
  border: 1px solid @gray_lighter;
  border-radius: @tile;
  overflow: hidden;
  transition: border @run @bezier_fadein;
  &.voted {
    color: @color_select;
    .issue-votes {
      animation: in-bounce @run @run_fast ease-in backwards;
      transition: none;
    }
    .issue-upvote {
      display: none;
    }
  }
  &.novote {
    &:hover {
      border-color: @color_select;
      .issue-votes {
        opacity: 0;
        transform: translate(0, -100%);
        transition: @run @run_fast @bezier_deform;
      }
      .issue-upvote {
        opacity: 1;
        transform: translate(0, -100%);
        transition: @run (@run_fast / 2) @bezier_deform;
      }
    }
  }
  &:not(.voted) {
    cursor: pointer;
  }
}
.issue-votes,
.issue-upvote {
  .flexy(center; center);
  .icon(stroke; @color_select);
  .icon(fill; @color_select);
  .holo();
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: @run @now @bezier_deform;
}
.issue-votes {
  top: 0;
  opacity: 1;
}
.issue-upvote {
  top: 100%;
  opacity: 0;
}
.issue-info {
  .flexy(column; center);
  align-items: flex-start;
  flex: 1;
  .issue-foot {
  }
}
.issue-tag {
  &:not(:first-of-type) {
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: .25em;
      height: .25em;
      margin: 0 .5em;
      background: @gray_light;
      border-radius: 1em;
    }
  }
}
.issue-description {
  &.to-edit {
    animation: in-issue-description @run_fast ease-out;
  }
  &.to-not-edit {
    animation: out-issue-description @run_fast ease-in;
  }
}
.issue-description-edit {
  animation: in-bounce @run_slow;
}
.issue-divider {
  border-top: 1px dotted @gray_lighter;
  padding-top: @menu_padding;
}
.comments {
  & & & & & & { // selects parent 6 times
    margin-left: 0; // prevents comments from nesting too far
    .issue-foot {
      &:before {
        content: "• "; // indicates when comment is nested too far
      }
    }
  }
}
.comment {
  .comment {
    && {
      animation: none;
    }
  }
  .comments {
    margin-left: @menu_padding;
    // uncomment these to use side borders on child comments
    // border-left: 1px dotted #ddd;
    // .issue-divider {
    //   display: none;
    // }
  }
  p {
    padding-left: @menu_padding;
    padding-right: @menu_padding;
  }
}
.issue-foot {
  .icon(stroke; @gray_light);
  .icon(fill; @gray_light);
  color: @gray_light;
  font-size: @font_size_small;
  line-height: @tile / 4;
  margin-bottom: @menu_padding;
  padding-bottom: @menu_padding / 3;
}
.comment-children {
  border-left: 1px dotted @gray_lighter;
  padding-left: @menu_padding;
  padding-bottom: @menu_padding / 3;
}
