.issue {
  //
  .issue-title {
    .h4();
  }
  .issue-vote {
    width: @tile;
    height: @tile;
  }
}
.issues-list {
  // .menu-form {
  //   margin: @menu_padding 0;
  // }
  // .adaptive-textarea {
  //   margin: @menu_padding 0;
  // }
  .issue-summary {
    .issue-divider();
    margin: 0;
  }
}
.issue-description {
  margin-bottom: @menu_padding;
}
// .issue-title {
//   margin-bottom: @menu_padding;
// }



.issue-summary {
  .flexy();
  width: 100%;
  // margin-bottom: @menu_padding;
}
.issue-vote {
  @size: 2 * @menu_padding;
  .flexy(center; center; column);
  position: relative;
  width: @size;
  min-width: @size;
  height: @size;
  // margin-right: @menu_padding;
  // margin-right: 1rem;
  margin-left: 1rem;
  border: 1px solid @gray_lighter;
  border-radius: @tile;
  overflow: hidden;
  transition: border @run @bezier_fadein;
  &:not(.issue-vote-true) {
    cursor: pointer;
  }
}
.issue-vote-true {
  color: @color_select;
  .issue-votes {
    animation: in-bounce @run @run_fast ease-in backwards;
  }
}
.issue-vote-false {
  &:hover {
    border-color: @color_select;
    .issue-votes {
      opacity: 0;
      transform: translate(0, -100%);
      transition: @run @run_fast @bezier_deform;
    }
    .issue-upvote {
      opacity: 1;
      transform: translate(0, -100%);
      transition: @run (@run_fast / 2) @bezier_deform;
    }
  }
}
.issue-polls {
  .flexy(center; center);
  .icon(stroke; @color_select);
  .icon(fill; @color_select);
  .holo();
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: @run @now @bezier_deform;
}
.issue-votes {
  top: 0;
  opacity: 1;
}
.issue-upvote {
  top: 100%;
  opacity: 0;
}
.issue-info {
  .flexy(column; center);
  align-items: flex-start;
  flex: 1;
}
.issue-tag {
  &:not(:first-of-type) {
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: .25em;
      height: .25em;
      margin: 0 .5em;
      background: @gray_light;
      border-radius: 1em;
    }
  }
}
// .issue-tags {
//   // .flexy();
//   // line-height: 1;
// }
// .issue-tag {
//   // color: @gray_light;
//   // margin-right: 1rem;
// }
// // .issue-status {
// //   border: 1px solid @gray;
// //   border-radius: @tile;
// //   margin-left: -.5em;
// //   padding: 0 .5em;
// // }



// .single-issue-head {
//   .flexy();
//   margin-bottom: @menu_padding;
//   // margin-bottom: @tile;
//   h4 {
//     align-self: center;
//     margin: 0;
//   }
//   .issue-vote {
//     // margin-left: (-@tile / 4);
//     // margin-left: auto;
//     // margin-right: 0;
//   }
//   // .issue-tags {
//   //   margin-bottom: 1em;
//   // }
//   // .comment-author {
//   //   margin-top: .5em;
//   //   margin-bottom: 0;
//   // }
//   // .issue-tags {
//   //   margin-top: .5em;
//   // }
// }
.single-issue-info {
  .flexy(column; center);
}
.single-issue-body {
  .comment-content {
    // margin: @menu_padding 0;
    margin-bottom: @menu_padding;
  }
}
.single-issue-foot {
  margin-bottom: @tile;
}
// .issue-description {
//   margin-bottom: @menu_padding;
// }
.issue-divider {
  // margin-top: @menu_padding;
  border-top: 1px dotted @gray_lighter;
  // box-shadow: 0 1px @gray_lighter inset;
  padding-top: @menu_padding;
  // padding-top: 1em;
}
.issue-comments {
  margin-bottom: @menu_padding;
}
.issue-comment {
  // margin-bottom: @menu_padding;

  // padding: @menu_padding 0;
  // border-bottom: 1px dotted @gray_lighter;
  // &:first-of-type {
  //   margin-top: @menu_padding / 3;
  //   border-top: 1px dotted @gray_lighter;
  // }

  // margin-top: @menu_padding;
  // border-top: 1px dotted @gray_lighter;
  // // box-shadow: 0 1px @gray_lighter inset;
  // // padding-top: @menu_padding;
  // padding-top: 1em;
}
// .issue-comment-input {
//   margin-bottom: @menu_padding;
//   // margin: @menu_padding 0;
//   // max-height: @tile + (5 * @menu_padding);
//   // overflow-y: auto;
//   &:focus {
//     min-height: @tile + (2.5 * @menu_padding);
//   }
// }


.comments-count {
  color: @gray_light;
}
.comment-body {
  // margin-bottom: @menu_padding / 2;
}
.comment-author {
  .flexy(center);
  .icon(stroke; @gray_light);
  color: @gray_light;
  line-height: 1;
  // margin: 0;
  // .icon(stroke; @gray_darker);
  // color: @gray_darker;
  margin-bottom: @menu_padding / 2;
  // margin-bottom: 1em;
}
.comment-avatar {
  //
}
.comment-name {
  margin: 0 .5rem;
}
.comment-datetime {
  color: @gray_light;
  font-size: @font_size_small;
}
.comment-content {
  // color: @gray;
  margin-bottom: @menu_padding / 2;
  // margin-bottom: 1em;
  // margin-bottom: @menu_padding;
}
.issue-foot {
  .icon(stroke; @gray_light);
  .icon(fill; @gray_light);
  color: @gray_light;

  font-size: @font_size_small;
  line-height: @tile / 4;

  margin: .5rem 0 @menu_padding;

  a {
    // > span {
    //   + span {
    //     &:before {
    //       content: " ";
    //     }
    //   }
    // }
    // &:not(:first-of-type) {
    //   &:before {
    //     content: "";
    //     display: inline-block;
    //     vertical-align: middle;
    //     width: .25em;
    //     height: .25em;
    //     margin: 0 .5em;
    //     background: @gray_light;
    //     border-radius: 1em;
    //   }
    // }
    // &:not(:hover) {
    //   .icon(stroke; @gray_light);
    //   .icon(fill; @gray_light);
    //   color: @gray_light;
    // }
    // &:not(:hover) {
    //   .icon(stroke; @gray_dark);
    //   .icon(fill; @gray_dark);
    //   color: @gray_dark;
    // }
  }
}
// .issue-foot {
//   // opacity: .5;
//   a {
//     &:not(:hover) {
//       color: @gray_dark;
//     }
//   }
// }
.comment-children {
  border-left: 1px solid @gray_light;
  padding-left: @menu_padding;
}


// .adaptive {
//   .menu-button {
//     width: 50%;
//     // margin: 1.5rem 0 0;
//     // border-color: @gray_lighter;
//   }
// }
