.the-why,
.the-what {
  .flexy(column);
  min-height: 100vh;
  p {
    .mq_640({
      height: 0;
      overflow: hidden;
    });
  }
  .navigation {
    a {
      color: fade(@white, 41.75); // precise transparency makes @white appear @gray on @gray_darker background
      transition: @run_fast @bezier_fadein;
      &:hover {
        color: @white;
        transition: @now;
      }
    }
    .content {
      max-width: none; // VETO
    }
  }
}
.the-why {
  .navigation {
    .animation(in-fade-top @run @run_slower @bezier_deform backwards);
    .shadow_inset(bottom; @color_inset_black; @color_inset_white);
  }
  .our-philosphy {
    .animation(our-philosphy @run @run @bezier_deform backwards);
  }
  .google-login {
    &.small {
      .mq_640({
        display: none !important;
      });
    }
  }
  .make-button {
    color: @white;
    transition: @run @bezier_fadein;
    border: 2px solid @white;
    &:hover,
    &:focus,
    &:active {
      color: @black;
      background-color: @white;
      background-image: linear-gradient(to bottom, @white, transparent, transparent, @white);
      border-color: @white;
      transition-duration: @now;
    }
  }
  .our-proof {
    .animation(in-fade-bottom @run @run_fast @bezier_deform backwards);
    .flexy(center; center);
    color: @gray_light;
    box-shadow: 0 -8px 13px fade(@black,21);
  }
}
.the-what {
  .our-proof {
    box-shadow: 0 8px 13px fade(@black,21);
    display: none !important; // keep bottom one empty until we good proof
  }
  .google-login {
    &:not(.small) {
      .mq_640({
        width: 100%;
      });
    }
  }
  .make-button {
    color: fade(@white, 41.75); // precise transparency makes @white appear @gray on @gray_darker background
    -webkit-mask-image: linear-gradient(to bottom, transparent, black, black, transparent);
    &:hover {
      color: @white;
    }
  }
  .navigation {
    .shadow_inset(top; @color_inset_black; @color_inset_white);
  }
}
.make-button-wrap {
  &:hover {
    .animation(make-button-wrap @run @run backwards);
    .something-default {
      opacity: 0;
    }
    .something-wheel {
      &:before {
        content: attr(data-before);
      }
      &:after {
        content: attr(data-after);
      }
    }
  }
  &:not(:hover) {
    .something-wheel {
      display: none;
    }
  }
}
.make-button {
  .flexy();
  line-height: 1em;
  overflow: hidden;
}
.make-prepend {
  margin-right: .25em;
}
.make-something {
  position: relative;
  height: 1em;
}
.something-wheel {
  .animation(something-wheel @run_make_button);
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  &:before,
  &:after {
    .animation(something-wheel-list (1.25 * @run_make_button) forwards);
    color: @gray;
    position: absolute;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    word-spacing: @tile_xl;
    white-space: pre-line;
    padding: .25em 0;
  }
  &:before {
    bottom: 100%;
  }
  &:after {
    top: 100%;
  }
}
.make-append {
  margin-left: .25em;
  z-index: @zindex_make_append; // so list doesn't overlap appending text
}
.our-claim {
  .flex(1);
  .flexy(column);
  position: relative;
  color: fade(@white, 75.75); // precise transparency makes @white appear @gray_light on @gray_darker background
  .mq_640({
    min-height: 100vh;
  });
  h1 {
    line-height: 1em; // VETO
    margin-bottom: -.5rem; // better aligns h1 (big font size wastes space)
    margin-left: -.0625em; // better aligns h1 (big font size wastes space)
    .mq_640({
      font-size: 3em; // VETO
      line-height: 1.125em; // VETO
    });
  }
  p {
    margin: @padding_outer 0;
  }
}
.our-philosphy-wrap {
  .flex(1);
  .flexy(center);
}
.our-philosphy {
  .flex(1);
  .flexy(column);
  .transform-origin(0 0);
}
.our-proof {
  height: 3px;
  background: @dye_outer;
}
.the-how {
  background: @dye_outer;
  h2 {
    .mq_640({
      font-size: 2em;
    });
  }
  p {
    &:last-child {
      margin: 0;
    }
  }
}
.featurette {
  .flexy(wrap);
  .align-items(center);
  height: 33vh;
  padding: 0; // VETO
  .mq_640({
    height: 200vh;
    max-height: 175vw;
  });
  &:first-child,
  &:last-child {
    height: 66vh; // VETO
    .mq_640({
      height: 200vh;
    });
  }
}
.featurette-story {
  .order(2);
  .flex(1 1 66%);
  padding: @menu_padding;
  .mq_640({
    .flex(0 0 100%);
    margin-bottom: auto;
  });
}
.featurette-media {
  .order(3);
  .flex(1 1 34%);
  padding: @menu_padding;
  .mq_640({
    .flex(0 0 100%);
    margin-top: auto;
    padding-bottom: 0; // VETO
  });
  &.reverse {
    .order(1); // VETO
  }
  &:not(.reverse) {
    .mq_640({
      .order(1);
    });
  }
}
//
// TODO all below for dev only!
//
.featurette {
  svg {
    max-width: 100%;
    overflow: visible;
  }
  .svg-actions {
    fill: #fff;
  }
  .svg-menu {
    stroke-width: 4;
    stroke: #ccc;
    fill: #ccc;
  }
  .svg-in-progress {
    line,
    circle {
      fill: none;
      stroke-width: 4;
      stroke: #bf5bff;
    }
  }
  .svg-cursor {
    stroke: #bf5bff;
    fill: none;
    stroke-width: 4;
  }
  .svg-border,
  .svg-chat,
  .svg-shape-layers {
    fill: none;
    stroke-width: 4;
  }
  .svg-border,
  .svg-chat {
    stroke: #ccc;
  }
  .svg-shape-layers {
    // stroke: #888;
    stroke: #ccc;
  }
}


@art_color: @gray_light;
@art_black: @gray_dark;
@art_white: @white;
.art_both(...) {
  fill: ;
  stroke: ;
}

.art {
  path {
    fill: none;
    stroke-width: 2;
  }
  .art-fill-color { fill:   @art_color; }
  .art-fill-black { fill:   @art_black; }
  .art-fill-white { fill:   @art_white; }
  .art-line-color { stroke: @art_color; }
  .art-line-black { stroke: @art_black; }
  .art-line-white { stroke: @art_white; }
  .art-both-color {
    .art-fill-color();
    .art-line-color();
  }
  .art-both-black {
    .art-fill-black();
    .art-line-black();
  }
  .art-both-white {
    .art-fill-white();
    .art-line-white();
  }
}








// .art-ipad {
//   @seed: @tile;
//   @vw: 6 * @seed;
//   @vh: 8 * @seed;
//   @em: .25 * @seed; // 16px
//   @background: @gray_dark;
//   @foreground: @white;
//   @border: .125 * @em; // 2px

//   @sw: (@vw - 2);
//   @sh: (@vh - 6);
//   @st: (@vh - @sh) / 2;
//   @sr: (@vw - @sw) / 2;
//   @sb: (@vh - @sh) / 2;
//   @sl: (@vw - @sw) / 2;

//   @cw: (@bw / 3);
//   @ch: (@bw / 3);
//   @ct: (@st - @cw) / 2;
//   @cr: (@vw - @cw) / 2;
//   @cb: (@vh - @cw) - @ct;
//   @cl: (@vw - @cw) / 2;

//   @bw: (1.5 * @em);
//   @bh: (1.5 * @em);
//   @bt: (@vh - @bw) - @bb;
//   @br: (@vw - @bw) / 2;
//   @bb: (@sb - @bw) / 2;
//   @bl: (@vw - @bw) / 2;

//   position: relative;
//   width: @vw;
//   height: @vh;
//   background: @background;
//   border-radius: @bw;
//   transition: @run @bezier_bounce; // device turning animation
//   .mq_640({
//     width: @vh;
//     height: @vw;
//   });

//   // // &.landscape {
//   // &:hover {
//   //   width: @vh;
//   //   height: @vw;
//   //   .art-ipad-camera {
//   //     margin: @cr @cb @cl @ct;
//   //   }
//   //   .art-ipad-screen {
//   //     width: @sh;
//   //     height: @sw;
//   //     margin: @sr @sb @sl @st;
//   //   }
//   //   .art-ipad-button {
//   //     margin: @br @bb @bl @bt;
//   //   }
//   //   .art-ipad-menu {
//   //     width: 40%;
//   //   }
//   // }

//   .art-ipad-ui {
//     .position(absolute; 0; 0);
//     transition: @run @bezier_bounce; // device turning animation
//   }
//   .art-ipad-camera {
//     .art_circle(@cw; @ch; @foreground; @border; fill);
//     margin: @ct @cr @cb @cl;
//     .mq_640({
//       margin: @cr @cb @cl @ct;
//     });
//   }
//   .art-ipad-screen {
//     .art_square(@sw; @sh; @foreground; @border; fill);
//     margin: @st @sr @sb @sl;
//     .mq_640({
//       width: @sh;
//       height: @sw;
//       margin: @sr @sb @sl @st;
//     });
//   }
//   .art-ipad-button {
//     .art_circle(@bw; @bh; @foreground; @border);
//     margin: @bt @br @bb @bl;
//     .mq_640({
//       margin: @br @bb @bl @bt;
//     });
//   }
//   .art-ipad-square {
//     .art_square(@cw; @ch; @foreground; @border);
//     margin: (((@bw - @cw) / 2) - @border);
//   }
// }
// .art-ipad-viewport {
//   .flexy();
//   width: 100%;
//   height: 100%;
// }
// .art-ipad-menu {
//   width: 50%;
//   overflow: hidden;
//   transition: @run @bezier_bounce;
//   .mq_640({
//     width: 40%;
//   });
// }
// .art-ipad-menu-head {
//   color: @gray;
//   font-weight: 300;
//   margin: 2% 10%;
// }
// .art-ipad-menu-item {
//   .flex(1);
//   height: 25%;
//   margin: 10%;
//   border: 1px solid @gray_lighter;
//   &:first-of-type {
//     margin-top: 0; // VETO
//   }
//   // &:nth-of-type(2) {
//   //   border: 2px solid @blue; // VETO
//   // }
//   img {
//     width: 100%;
//     opacity: .20;
//   }
// }
// .art-ipad-canvas {
//   .flex(1);
//   height: 66%;
//   margin: auto;
//   margin-left: 5%;
//   box-shadow: 0 5px 13px 0 fade(@black, 21), 0 -1px @gray_lightest;
//   overflow: hidden;
//   img {
//     max-width: none;
//     max-height: 150%;
//     opacity: .20;
//   }
// }



.featurette-media {
  padding: 0;
}



.artwork {
  //
  &:hover {
    //
  }
}



.a-ipad {
  //
  background: @gray_dark;
}



.a-circle {
  //
}
.a-square {
  //
}



.a-ipad-head {
  //
  .a-circle {
    //
  }
}
.a-ipad-body {
  //
}
.a-ipad-foot {
  //
  .a-circle {
    //
  }
  .a-square {
    //
  }
}



.a-screen {
  //
  display: none;
}



.a-menu {
  //
}
.a-doc {
  //
}
.a-doc-img {
  //
}



.a-canvas {
  //
  display: none;
}
.a-canvas-img {
  //
}
