.the-why,
.the-what {
  .flexy(column);
  min-height: 100%;
  .navigation {
    a {
      color: fade(@white, 34);
      transition: @run_fast @bezier_fadein;
      &:hover {
        color: @white;
        transition: @now;
      }
    }
  }
}
.the-why {
  .navigation {
    .animation(in-fade-top @run @run_slower @bezier_deform backwards);
    .shadow_inset(bottom; @color_inset_black; @color_inset_white);
  }
  .google-login {
    &.small {
      .mq_640({
        display: none !important;
      });
    }
  }
  .call-to-action {
    button {
      color: @white;
      transition: @run @bezier_fadein;
      border: 2px solid @white;
      &:hover,
      &:focus,
      &:active {
        color: @black;
        background: @white;
        border-color: @white;
        transition-duration: @now;
      }
    }
  }
  .our-proof {
    .animation(in-fade-bottom @run @run_fast @bezier_deform backwards);
    .flexy(center; center);
    color: @gray_light;
    box-shadow: 0 -8px 13px fade(@black,21);
  }
}
.the-what {
  .our-proof {
    box-shadow: 0 8px 13px fade(@black,21);
    display: none !important; // keep bottom one empty until we good proof
  }
  .google-login {
    &:not(.small) {
      .mq_640({
        width: 100%;
      });
    }
  }
  .navigation {
    .shadow_inset(top; @color_inset_black; @color_inset_white);
  }
  .call-to-action {
    button {
      color: fade(@white, 34);
      &:hover {
        color: @white;
      }
    }
  }
}
.our-claim {
  .flex(1);
  .flexy(column);
  position: relative;
  color: @white;
  .mq_640({
    min-height: 100%;
  });
  h1 {
    margin-bottom: .5rem;
    margin-left: -.0625em; // better aligns h1 (big font size wastes space)
    .mq_640({
      font-size: 3em;
    });
  }

}
.our-philosphy-wrap {
  .flex(1);
  .flexy(center);
}
.our-philosphy {
  .flexy(column);
  .animation(jumbotron-content @run @run @bezier_deform backwards);
  .transform-origin(0 0);
}
.our-proof {
  height: 3px;
  background: @dye_outer;
}
.the-how {
  background: @dye_outer;
  h2 {
    .mq_640({
      font-size: 2em;
    });
  }
  p {
    margin: 0;
  }
}
.featurette {
  .flexy(wrap);
  .align-items(center);
  height: 33vh;
  padding: 0; // VETO
  .mq_640({
    height: 200vh;
    max-height: 175vw;
  });
  &:first-child,
  &:last-child {
    height: 66vh; // VETO
  }
}
.featurette-story {
  .order(2);
  .flex(1 1 66%);
  padding: @menu_padding;
  .mq_640({
    .flex(0 0 100%);
    margin-bottom: auto;
  });
}
.featurette-media {
  .order(3);
  .flex(1 1 34%);
  padding: @menu_padding;
  .mq_640({
    .flex(0 0 100%);
    margin-top: auto;
    padding-bottom: 0; // VETO
  });
  &.reverse {
    .order(1); // VETO
  }
  &:not(.reverse) {
    .mq_640({
      .order(1);
    });
  }
}
//
// TODO all below for dev only!
//
.featurette {
  svg {
    max-width: 100%;
    overflow: visible;
  }
  .svg-actions {
    fill: #fff;
  }
  .svg-menu {
    stroke-width: 4;
    stroke: #ccc;
    fill: #ccc;
  }
  .svg-in-progress {
    line,
    circle {
      fill: none;
      stroke-width: 4;
      stroke: #bf5bff;
    }
  }
  .svg-cursor {
    stroke: #bf5bff;
    fill: none;
    stroke-width: 4;
  }
  .svg-border,
  .svg-chat,
  .svg-shape-layers {
    fill: none;
    stroke-width: 4;
  }
  .svg-border,
  .svg-chat {
    stroke: #ccc;
  }
  .svg-shape-layers {
    // stroke: #888;
    stroke: #ccc;
  }
}