.menu {
  .flexy(column);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  .content {
    max-width: @tile_menu_max;
    .vein {
      border-bottom: 1px solid @gray_lightest;
    }
  }
}
.menu-header {
  .flex(0 0 @tile);
  .flexy(center, center);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: @tile;
  a {
    .flexy(center, center);
    width: @tile;
    height: @tile;
    transition: @run @bezier_fadein;
    &:only-child {
      margin-left: auto;
    }
  }
}
.menu-heading {
  .animation(in-fade-bottom-soft @run_slow @bezier_deform);
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 @tile;
  overflow: hidden;
  cursor: default;
  &:not(:last-of-type) {
    display: none;
  }
}
.menu-body {
  .box-sizing(content-box);
  .flex(1);
  .flexy();
  position: relative;
  padding: 10vh 0 0;
  .make {
    .animation_cascade(25);
  }
}
.menu-view {
  .flex(0,0,100%);
  .flexy(flex-start, flex-start, column);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  transition: @run_slow @bezier_deform;
  &:not(:first-child) {
    margin-left: -100%;
  }
  &:not(:last-of-type) {
    .translate3d(-100%,0,0);
    opacity: 0;
    visibility: hidden;
  }
  &:last-child {
    &:only-child {
      .make {
        .animation-name(in-fade-left);
        .animation-duration(@run_slow);
        .animation-fill-mode(both);
      }
    }
  }
  &:not(:only-child) {
    &:not(:first-child) {
      .make {
        .animation-name(in-fade-right);
        .animation-duration(@run_slow);
        .animation-fill-mode(both);
      }
    }
  }
  article {
    padding: @menu_padding;
    width: 100%;
    a {
      &[role="button"] {
        .flexy(center, center);
        height: @tile;
        margin-bottom: @tile;
        transition: @run_fast @bezier_fadein;
        border: 1px solid @font_color;
        &:hover {
          color: @white;
          background: @font_color;
        }
      }
    }
  }
}
.menu-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  background: @dye_outer;
  .mq_640({
    width: 100vw;
    min-width: 100vw;
  });
}
.veins {
  .flex(1);
  position: relative;
  width: 100%;
  max-width: @tile_menu_max;
  margin: 0 auto;
}
.vein {
  .flexy(center);
  .icon(stroke; @gray);
  .icon(fill; @gray);
  width: 100%;
  height: @tile;
  color: @gray;
  overflow: hidden;
  &:hover {
    .icon(stroke; @black);
    .icon(fill; @black);
    color: @black;
  }
  &.stick {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: @tile_menu_max;
    margin: 0 auto;
  }
  &.external {
    .icon-arrow-right {
      transition: @run @bezier_deform;
    }
    &:not(:hover) {
      .icon-arrow-right {
        margin-left: @menu_padding / -2;
      }
    }
  }
  span {
    &:first-child {
      &:not(:only-child) {
        padding-left: @menu_padding;
      }
    }
  }
  i {
    padding: @menu_padding;
  }
}
.menu-invite-form {
  .flexy(column);
  margin: @menu_padding 0;
}
.invite-recipient {
  .flexy();
  &:hover {
    a {
      opacity: 1;
    }
    ~ .invite-recipient {
      a {
        opacity: 0;
      }
    }
  }
  &:not(:hover) {
    color: @gray_light;
  }
  &:last-of-type {
    a {
      opacity: 1;
    }
  }
  a {
    opacity: 0;
    margin-left: .5em;
    &:not(:hover) {
      &:after {
        content: "?";
        pointer-events: none;
      }
    }
  }
}
.invite-recipient-email {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-prompt {
  .flex(1 0 100%);
  .flexy(column);
}
.menu-prompt-body {
  .flex(1 1 100%);
  .scrollbar_hide();
  padding: 0 2rem;
  overflow-y: auto;
  &:last-of-type {
    padding-bottom: @tile;
  }
}
.shortcuts-items {
  td {
    padding: .5em 0;
  }
}
.shortcuts-keys {
  .flexy(center);
}
.shortcuts-key,
.shortcuts-misc {
  .flexy(center, center);
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  cursor: default;
  + .shortcuts-key,
  + .shortcuts-misc {
    position: relative;
    margin-left: 1.5em;
    &:before {
      .flexy(center, center);
      content: "+";
      position: absolute;
      right: 100%;
      width: 1.5em;
      margin-top: .25em;
    }
  }
}
.shortcuts-key {
  .inline(@gray_light);
  border-radius: .5em;
  &.no-symbol {
    font-size: 0.750em;
  }
}
.shortcuts-misc {
  .icon(stroke; 4);
  i {
    font-size: 1.9em;
  }
}
.shortcuts-result {
  margin: 0 1em;
  cursor: default;
}
.recent-time-group {
  text-transform: capitalize;
  margin-bottom: 2em;
  &:not(:first-child) {
    margin-top: 5em;
  }
}
.recent-doc-title {
  display: block;
  line-height: 1em;
  margin: 1em 0;
  a {
    &:not(:hover) {
      color: @gray;
    }
  }
}
.recent-doc-thumb {
  display: block;
  position: relative;
  border: 1px solid @gray_lighter;
  overflow: hidden;
  transition: @run @bezier_fadein;
  &:hover {
    border-color: @gray;
    transition-duration: @run_fast;
  }
  img {
    .size_of(chat; height; vh);
    width: 100%;
    max-height: 80vh;
    opacity: .5;
  }
  .loading-ellipses {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
  }
}
// TODO come back to cleanup loading styles here -dk (12/09/14)
.loading {
  .loading-ellipses {
    display: block;
  }
  .recent-doc-title {
    visibility: hidden;
  }
  img {
    display: none;
  }
  img.loading-image {
    display: block;
  }
}
img.loading-image {
  display: none;
}
.loading-ellipses {
  display: none;
}
.loading-ellipses i     {.animation(dot (1.5 * @run_slower) (1.00 * @run_slower) infinite both);}
.loading-ellipses i+i   {.animation(dot (1.5 * @run_slower) (1.25 * @run_slower) infinite both);}
.loading-ellipses i+i+i {.animation(dot (1.5 * @run_slower) (1.50 * @run_slower) infinite both);}
.privacy-select {
  .flex-direction(column);
  .align-items(stretch);
  &:hover {
    .privacy-label {
      &:not(:hover) {
        opacity: .34;
      }
    }
  }
  &:not(:hover) {
    .privacy-radio {
      &:not(:checked) {
        + .privacy-label {
          height: 0;
          opacity: 0;
        }
      }
    }
  }
  &.vein {
    height: auto;
  }
}
.privacy-radio {
  &:not(:checked) {
    + .privacy-label {
      &.disabled {
        height: 0;
        opacity: 0;
      }
    }
  }
}
.privacy-label {
  .flexy(center);
  height: @tile;
  cursor: pointer;
  overflow: hidden;
  transition: @run;
  &.disabled {
    .user-select(none);
    .icon(stroke; @gray_light);
    .icon(fill; @gray_light);
    color: @gray_light;
    cursor: default;
  }
  small {
    padding-left: .5em;
  }
}
.access-card {
  .flexy(center);
  position: relative;
  // max-width: @tile_menu; // TODO fix this
  margin: @menu_padding 0;
  cursor: default;
  transition: @run;
  &:not(:hover) {
    .access-options {
      right: -@tile * 2;
      padding: 1.5rem 0;
      &:before {
        width: 0;
      }
    }
    .access-option {
      margin: 0;
      opacity: 0;
    }
  }
  &.requesting {
    &:hover {
      .access-avatar,
      .access-details {
        opacity: .8;
        transition: @run_fast @bezier_fadein;
      }
      .access-avatar {
        .filter(grayscale(1));
        transition: @run_fast @bezier_fadein;
      }
      .access-status {
        color: @font_color;
        transition: @run_fast @bezier_fadein;
      }
    }
    .access-status {
      color: @blue;
    }
  }
  &.denied {
    .access-avatar {
      box-shadow: 0 -1px 3px @black inset;
      img {
        .filter(grayscale(1));
        opacity: .5;
      }
    }
    .access-avatar-img {
      .filter(grayscale(1));
      opacity: .5;
    }
    .access-details {
      opacity: .5;
    }
    .access-status {
      color: @font_color;
    }
  }
}
.access-avatar {
  @size: 3rem;
  .flex(0 0 @size);
  height: @size;
  border-radius: @size;
  transition: @run @bezier_fadein;
  .access-avatar-img {
    width: @size;
    height: @size;
    border-radius: @size;
    background-image: url("/img/avatar.svg");
    box-shadow+:  0    1px @gray_light inset;
    box-shadow+:  0   -1px @gray_light inset;
    box-shadow+:  1px  0   @gray_light inset;
    box-shadow+: -1px  0   @gray_light inset;
  }
}
.access-details {
  .flexy(flex-start, center, column);
  &:not(:only-child) {
    margin-left: 1rem;
  }
  span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.access-status {
  color: @gray_light;
}
.access-options {
  .flexy(center);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: @menu_padding;
  background: @dye_outer;
  transition+: right @run_fast @bezier_deform;
  transition+: padding @run_fast @bezier_deform;
  &:before {
    .gradient(to right; fade(@dye_outer, 0) @dye_outer);
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: @menu_padding;
    height: 100%;
    transition: width @run @bezier_deform;
  }
}
.access-option {
  .flexy(center, center);
  width: @tile / 2;
  height: @tile / 2;
  border: 1px solid @gray;
  border-radius: @tile;
  transition+: opacity @run_fast @bezier_fadein;
  transition+: margin @run_slow @bezier_deform;
  &:first-child {
    &:not(:only-child) {
      margin-right: 1rem;
    }
  }
  &.positive {
    .icon(stroke; @blue);
    border-color: @blue;
    &:hover {
      .icon(stroke; @white);
      background: @blue;
    }
  }
  &.negative {
    .icon(stroke; @gray);
    border-color: @gray;
    &:hover {
      .icon(stroke; @white);
      background: @gray;
    }
  }
}
.privacy-public-word,
.privacy-private-word {
  .animation(in-fade-top @run_slow);
  display: inline-block;
}
.menu-cta {
  .flexy(center, center);
  height: @tile;
  margin-bottom: @tile;
  transition: @run_fast @bezier_fadein;
  border: 1px solid @font_color;
  &:hover {
    color: @white;
    background: @font_color;
  }
}
