.outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: @dye_outer;
  &.entry,
  &.page-landing {
    .animate_nav();
  }
  &:not(.entry) {
    .animate_page_transitions();
  }
  &.page-landing {
    background-color: fade(@dye_outer, 0); // VETO
    .nav-link {
      .icon(fill; fade(@white, 41.75)); // TODO use opacity variables here
      color: fade(@white, 41.75);       // TODO use opacity variables here
      transition: @run_fast @bezier_fadein;
      &:hover {
        .icon(fill; @white);
        color: @white;
        transition: @now;
      }
    }
    .outer-head {
      .nav {
        .shadow_inset(bottom; @color_inset_black; @color_inset_white);
      }
    }
    .outer-foot {
      .nav {
        .shadow_inset(top; @color_inset_black; @color_inset_white);
      }
    }
  }
  &:not(.page-landing) {
    padding: @tile 0;
    .content {
      padding-top: @tile_xl;
      padding-bottom: @tile_xl;
      .mq_640({
        padding-top: @tile_xl / 2;
        padding-bottom: @tile_xl / 2;
      });
    }
  }
  .content {
    max-width: @tile_content;
  }
  p {
    a {
      &:not([role]) {
        display: inline-block;
        position: relative;
        border-bottom: 1px dotted @gray_light;
        white-space: nowrap;
        cursor: pointer;
        &:not(:hover) {
          &:after {
            width: 0;
            left: 50%;
            transition-duration: @run;
          }
        }
        &:active {
          &:after {
            left: -5%;
            width: 110%;
            transition: @now;
          }
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-shadow: 0 1px @color_select;
          transition: @run_fast @bezier_deform;
        }
      }
    }
  }
}
.outer-head,
.outer-foot {
  position: absolute;
  left: 0;
  width: 100%;
  user-select: none;
}
.outer-head {
  top: 0;
}
.outer-foot {
  bottom: 0;
}
.content {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: @padding_outer;
  padding-right: @padding_outer;
}
.content-copy {
  user-select: auto;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-heading {
  user-select: auto;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding-bottom: 1rem;
}
.nav {
  .flexy(center);
  height: @tile;
  padding: 0 @menu_padding;
  transition: box-shadow @run @bezier_fadein;
  .content {
    flex: 1 1 100%;
    .flexy(center);
  }
}
.nav-head {
  .shadow_inset(bottom; fade(@black, (100 * @opacity_white_lighter)); fade(@black, 0));
}
.nav-foot {
  .shadow_inset(top; fade(@black, 0); fade(@black, (100 * @opacity_white_lighter)));
}
.nav-link {
  .icon(fill; @gray);
  overflow: hidden;
  text-overflow: ellipsis;
  color: @gray;
  margin: 0 @menu_padding;
  transition: @run_fast @bezier_fadein;
  user-select: auto;
  .mq_640({
    margin: 0 (@menu_padding / 3);
  });
  &:hover {
    .icon(fill; @black);
    color: @black;
    transition: @now;
  }
  &:first-child {
    margin-left: 0;
    margin-right: auto;
  }
}
.nav-blog {
  .mq_640({
    margin-right: 0;
  });
}
.nav-app {
  &:last-child {
    margin-right: 0;
  }
  .mq_640({
    display: none;
  });
}
.nav-google {
  overflow: visible;
  &:last-child {
    margin-right: 0;
  }
  .mq_640({
    display: none;
  });
}
.nav-twitter {
  margin-left: auto;
  margin-right: 0;
  .mq_640({
    display: none;
  });
}
.calls-to-action {
  .flexy(wrap);
  .bubble-button {
    width: @tile_xl;
    .mq_640({
      width: 100%;
    });
  }
  button {
    .mq_640({
      width: 100%;
    });
  }
}
.bubble-button {
  .flexy(center; center);
  .inline(@gray_lighter);
  color: @gray_darker;
  line-height: 1;
  height: @tile;
  width: 100%;
  padding: @menu_padding 0;
  transition: @run @bezier_deform;
  &:hover {
    .shadow_canvas(default);
    color: @black;
    background-image: linear-gradient(to bottom, fade(@black, 0), fade(@black, 2));
    transition-duration: @run_fast;
  }
  &:active {
    .shadow_canvas(active);
    color: @black;
    background-image: none;
    transition-duration: @now;
  }
  &:focus {
    color: @black;
  }
  &[disabled] {
    pointer-events: none;
  }
  span {
    user-select: auto;
  }
}
.team-features {
  user-select: none;
  .content {
    &.feature {
      padding-top: 5%; padding-bottom: 5%;
      .mq_1280({padding-top: 10%; padding-bottom: 10%;});
       .mq_960({padding-top: 15%; padding-bottom: 15%;});
       .mq_640({padding-top: 20%; padding-bottom: 20%;});
    }
    &.features-head {
      padding-bottom: @tile_xl / 2;
    }
    &.features-foot {
      padding-bottom: @tile_xl;
    }
  }
  .feature-link {
    .mq_640({display: none;});
  }
  .feature-media {
    transform-origin: left;
    .iconpile {
      width: 100%;
      height: 100%;
    }
  }
}
