.app-overlay {
  .flexy(center, center);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: @gray_dark;
  overflow: hidden;
  z-index: @zindex_info_background;
  a {
    color: @gray_darker;
    .icon_stroke(@gray_darker);
    .icon_fill(@gray_darker);
    &:hover {
      .icon_stroke(@color_link_hover);
      .icon_fill(@color_link_hover);
      color: @color_link_hover;
    }
  }
  p {
    a {
      &:not(:hover) {
        border-bottom: 1px dotted @gray_light;
      }
    }
  }
  article {
    position: relative;
    max-width: (@tile * 10);
    padding: 1em;
    z-index: @zindex_info_article;
    transition: @speed_slow @bezier_transform;
  }
}
.app-overlay-background {
  .animation(in-fade @speed_fast @bezier_fadein);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: fade(@gray_darker, 66);
  z-index: -1;
}
.app-overlay-options {
  .flexy(column);
  .animation(in-fade-right @speed_fast);
  .animation-bezier(@bezier_transform);
  width: @options_width;
  height: 100%;
  margin-left: auto;
  background: @white;
}
.option-frame {
  width: @options_width;
}
.options-header {
  .flex(0 0 @tile);
  .flexy(center, space-between);
  position: relative;
  a {
    .flexy(center, center);
    width: @tile;
    height: @tile;
    font-size: 1.5em;
    transition: @speed @bezier_fadein;
    &:not(:hover) {
      .icon_stroke(@gray_dark);
    }
  }
}
.option-title {
  .flexy(center, center);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  pointer-events: none;
  h3 {
    margin: 0;
    pointer-events: auto;
  }
}
.options-body {
  .flex(1 0 100%);
  .flexy();
}
.options-view {
  .flex(0 0 0%);
  overflow: hidden;
  transition: @speed @bezier_transform;
  &:last-of-type {
    .flex(0 0 @options_width);
    // box-shadow: 1px 0 @gray_light;
  }
}








.info-okay {
  .flexy(center, center);
  min-height: 3.5em;
  min-width: 10.5em;
  line-height: 1em;
  padding: 1em 2em;
  border: 1px solid @font_color;
  transition: @speed_fast @bezier_fadein;
  .mq_640({
    width: 100%;
  });
  &:hover {
    color: @white;
    background: @font_color;
  }
  &:not(:hover) {
    color: inherit;
  }
}
.info-buttons {
  .flexy(flex-end, space-between);
}
.shortcuts-item {
  .flexy(center);
  margin: 1em;
}
.shortcuts-key {
  .flexy(center, center);
  min-width: 2em;
  height: 2em;
  padding: 0 .5em;
  border: 1px solid @gray_light;
  border-radius: 5px;
  + .shortcuts-key {
    position: relative;
    margin-left: 1em;
    &:before {
      .flexy(center, center);
      content: "+";
      position: absolute;
      right: 100%;
      width: 1em;
      // text-align: center;
      margin-top: .25em;
    }
  }
}
.shortcuts-result {
  margin: 0 1em;
}
.mixpanel-badge {
  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index: @zindex_info_mixpanel;
  transition: @speed @bezier_fadein @speed;
  .mq_640({
    display: none;
  });
  svg {
    fill: @gray_mixpanel;
  }
}
