.app-overlay {
  .flexy(center, center);
  .icon_stroke(@gray_dark);
  .icon_fill(@gray_dark);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: @gray_dark;
  overflow: hidden;
  z-index: @zindex_info_background;
  a {
    color: @gray_darker;
    .icon_stroke(@gray_darker);
    .icon_fill(@gray_darker);
    &:hover {
      .icon_stroke(@color_link_hover);
      .icon_fill(@color_link_hover);
      color: @color_link_hover;
    }
  }
  p {
    a {
      &:not(:hover) {
        border-bottom: 1px dotted @gray_light;
      }
    }
  }
  + .app-main {
    .scale3d(.97);
    .filter(blur(2px));
    + .app-main-outline {
      top: 1.5%;
      left: 1.5%;
      width: 97%;
      height: 97%;
      border-color: fade(@white, 05);
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.13);
    }
  }
}
.app-overlay-background {
  .animation(in-fade @speed_fast @bezier_fadein);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.app-overlay-menu {
  .flexy(column);
  .animation(in-fade-left @speed_fast);
  .animation-bezier(@bezier_transform);
  width: @menu_width;
  height: 100%;
  margin-right: auto;
  background: @overlay_background;
}
.menu-header {
  .flex(0 0 @tile);
  .flexy(center);
  border-bottom: 1px solid @gray_light;
  a {
    .flexy(center, center);
    width: @tile;
    height: @tile;
    transition: @speed @bezier_fadein;
    &:not(:hover) {
      .icon_stroke(@gray_dark);
    }
    &:only-child {
      margin-left: auto;
    }
  }
  h4 {
    .flex(0 1 100%);
    .animation(in-fade-top (@speed * 3));
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding: 0 1rem 0 @tile;
    overflow: hidden;
    &:not(:last-of-type) {
      display: none;
    }
  }
}
.menu-body {
  .flex(1 0 100%);
  .flexy();
  overflow-y: auto;
}
.menu-view {
  .flex(0 0 0%);
  .flexy(flex-start, flex-end);
  overflow: hidden;
  transition: @speed @bezier_transform;
  &:last-of-type {
    .flex(0 0 @menu_width);
    .mq_640({
      .flex(0 0 100vw);
    });
  }
  article {
    padding: 2rem;
  }
  footer {
    margin-top: auto;
    padding: 2rem;
  }
}
.menu-view-frame {
  .flexy(column);
  .scrollbar_hide();
  min-width: @menu_width;
  height: ~"calc(100% - @{tile})";
  overflow-y: auto;
  .mq_640({
    width: 100vw;
    min-width: 100vw;
  });
  > .menu-item {
    .flex(0 0 @tile);
  }
}
.menu-footer {
  .flex(0 0 @tile);
  .flexy(center);
  .mq_640({
    display: none;
  });
}
.menu-footer-link {
  margin: 0 2rem;
}
.menu-item {
  &[role="button"] {
    .flexy(center);
    .icon_stroke(@gray);
    width: 100%;
    color: @gray;
    transition: color @speed_fast @bezier_fadein, background @speed @bezier_fadein;
    &:hover {
      .icon_stroke(@gray_darkest);
      color: @gray_darkest;
      background: @gray_lightest;
      transition-duration: @speed_fast, 0ms;
    }
    &:last-child {
      margin-top: auto;
    }
    i {
      padding: 1.5rem;
    }
    path {
      transition: @speed_fast @bezier_fadein;
    }
  }
}
.menu-invite-form {
  .flexy(column);
  padding-bottom: 1em;
  margin-bottom: auto;
}
.invite-recipient {
  .flexy();
  &:hover {
    a {
      opacity: 1;
    }
    ~ .invite-recipient {
      a {
        opacity: 0;
      }
    }
  }
  &:not(:hover) {
    color: @gray_light;
  }
  &:last-of-type {
    a {
      opacity: 1;
    }
  }
  a {
    opacity: 0;
    margin-left: .5em;
    &:not(:hover) {
      &:after {
        content: "?";
        pointer-events: none;
      }
    }
  }
}
.invite-recipient-email {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-prompt {
  .flex(1 0 100%);
  .flexy(column);
}
.menu-prompt-body {
  .flex(1 1 100%);
  .scrollbar_hide();
  padding: 0 2rem;
  overflow-y: auto;
  &:last-of-type {
    padding-bottom: @tile;
  }
}
.menu-button {
  &[role="button"] {
    .flexy(center, center);
    height: @tile;
    margin-bottom: @tile;
    transition: @speed_fast @bezier_fadein;
    border: 1px solid @font_color;
    &:hover {
      color: @white;
      background: @font_color;
    }
  }
}
.shortcuts-item {
  .flexy(center);
  margin-bottom: 1em;
}
.shortcuts-key {
  .flexy(center, center);
  min-width: 2em;
  height: 2em;
  padding: 0 .5em;
  border: 1px solid @gray_light;
  border-radius: 5px;
  + .shortcuts-key {
    position: relative;
    margin-left: 1em;
    &:before {
      .flexy(center, center);
      content: "+";
      position: absolute;
      right: 100%;
      width: 1em;
      margin-top: .25em;
    }
  }
}
.shortcuts-result {
  margin: 0 1em;
}
.mixpanel-badge {
  margin: auto auto 0;
  .mq_640({
    display: none;
  });
  svg {
    fill: @gray_mixpanel;
  }
}
.recent-time-group {
  text-transform: capitalize;
  margin-bottom: 2em;
  &:not(:first-child) {
    margin-top: 5em;
  }
}
.recent-doc-title {
  display: block;
  line-height: 1em;
  margin: 1em 0;
  a {
    &:not(:hover) {
      color: @gray;
    }
  }
}
.recent-doc-thumb {
  display: block;
  position: relative;
  width: 20rem;
  max-width: 100%;
  height: 15rem;
  border: 1px solid @gray_lighter;
  overflow: hidden;
  transition: @speed @bezier_fadein;
  &:hover {
    border-color: @gray;
    transition-duration: @speed_fast;
  }
  img {
    width: 100%;
    opacity: .5;
  }
}
// TODO come back to cleanup loading styles here -dk (12/09/14)
.loading {
  .loading-ellipses {
    display: block;
  }
  .recent-doc-title {
    visibility: hidden;
  }
  img {
    display: none;
  }
  img.loading-image {
    display: block;
  }
}
img.loading-image {
  display: none;
}
.loading-ellipses {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
  display: none;
}
.loading-ellipses i {
  opacity: 0;
  .animation(dot 1.3s 0.0s infinite);
}
.loading-ellipses i+i {
  opacity: 0;
  .animation(dot 1.3s 0.2s infinite);
}
.loading-ellipses i+i+i {
  opacity: 0;
  .animation(dot 1.3s 0.3s infinite);
}

.app-overlay-home {
  // .flexy(column);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  overflow-y: auto;
  .jumbotron {
    color: @gray_light;
  }
}
.home-nav {
  .flexy();
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: @tile;
  border-bottom: 1px solid fade(@black, 13);
  .content {
    .flex(1 1 100%);
    .flexy(center);
  }
  .nav-item {
    color: @gray;
    &:first-of-type {
      margin-right: auto;
    }
    &:not(:first-of-type) {
      margin-left: @tile / 2;
    }
  }
}
.google-login {
  @color: #3A7AF3;
  @shadow: darken(desaturate(@color, 34), 13);
  .flexy();
  .user-select(none);
  background-color: @color;
  border-bottom: 1px solid @shadow;
  border-radius: 3px;
  span {
    .icon_fill(@white);
    color: @white;
    line-height: 1em;
    padding: .5em;
    &:first-child {
      border-right: 1px solid @shadow;
    }
  }
  &:hover {
    margin-bottom: 1px;
    border-bottom-width: 2px;
    span {
      .icon_fill(@white);
      color: @white;
    }
  }
  &:active {
    background-color: darken(desaturate(@color, 13), 5);
    margin-bottom: 0;
    border-bottom-width: 0;
    box-shadow: 0 2px @shadow inset;
  }
}
.home-nav-items {
  max-width: @tile_content;
  height: @tile;
  margin: 0 auto;
  background: blue;
}
.jumbotron {
  // .flex(0 0 75vh);
  .flexy(center);
  // color: @gray_lighter;
  min-height: 90vh;
  padding-top: @tile;
  // background: red;
  // h3 {
  //   color: @gray;
  //   font-weight: 300;
  // }
  button {
    .flexy(center, center);
    // color: @gray_darker;
    // background: @white;
    height: @tile;
    padding: 0 (@tile / 2);
    margin-top: @tile;
    transition: @speed_fast @bezier_fadein;
    border: 2px solid @gray_lighter;
    &:hover {
      color: @gray_darker;
      background: @white;
      border-color: @white;
    }
  }
}
.content {
  .box-sizing(content-box);
  max-width: @tile_content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.home-body {
  // .flex(0 0 2500px);
  background: @overlay_background;
}





@margin_featurette: 30vh;
.featurette {
  .box-sizing(content-box);
  .flexy();
  max-width: @tile_content;
  margin: @margin_featurette auto;
  .mq_640({
    .flex-direction(column);
  });
  &:first-of-type {
    margin-top: 0;
    padding-top: @margin_featurette;
  }
  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: @margin_featurette;
  }
  &:nth-of-type(even) {
    .featurette-media {
      .order(1);
      .mq_640({
        .order(3);
      });
    }
  }
  // &.featurette-how {
  //   .featurette-story {
  //     .flex(2);
  //   }
  // }
}
.featurette-how {
  .featurette-story {
    .flex(2);
  }
}
.featurette-story,
.featurette-media {
  .flex(1);
  margin: auto 0;
  padding: 1rem;
}
.featurette-story {
  .order(2);
  p {
    margin: 0;
  }
}
.featurette-media {
  .order(3);
}







//
// TODO all below for dev only!
//
.main-menu-button {
  display: none !important;
}
.featurette {
  svg {
    overflow: visible;
  }
  .actions {
    fill: #fff;
  }
  .menu {
    stroke-width: 4;
    stroke: #ccc;
    fill: #ccc;
  }
  .in-progress {
    line,
    circle {
      fill: none;
      stroke-width: 4;
      stroke: #bf5bff;
    }
  }
  .cursor {
    stroke: #bf5bff;
    fill: none;
    stroke-width: 4;
  }
  .border,
  .chat,
  .layers {
    fill: none;
    stroke-width: 4;
  }
  .border,
  .chat {
    stroke: #ccc;
  }
  .layers {
    // stroke: #888;
    stroke: #ccc;
  }
}
