@margin_featurette: 30vh;
.app-overlay {
  .flexy(column);
  .icon_stroke(@gray_dark);
  .icon_fill(@gray_dark);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  color: @gray_dark;
  overflow-x: hidden;
  overflow-y: auto;
  a {
    color: @gray_darker;
    .icon_stroke(@gray_darker);
    .icon_fill(@gray_darker);
    &:hover {
      .icon_stroke(@color_link_hover);
      .icon_fill(@color_link_hover);
      color: @color_link_hover;
    }
  }
  p {
    a {
      &:not(:hover) {
        border-bottom: 1px dotted @gray_light;
      }
    }
  }
  + .app-main {
    .transform(translate3d(@tile_xl,0,0); scale3d(.9,.9,1));
    pointer-events: none;
    background: @overlay_background;
    box-shadow: 0 8px 21px 0 fade(@black, 21), 0 -1px fade(@black,08);
    transition+: box-shadow @speed @speed @bezier_fadein;
    transition+: -webkit-transform @speed_slower 0ms @bezier_transform;
    transition+:         transform @speed_slower 0ms @bezier_transform;
    a {
      text-shadow: none;
    }
    .canvas-background {
      // TODO expirimenting different transform transitions here...
      // .transform(translate3d((@tile_xl * 2),0,0); scale3d(.25,0,1));
      // .transform(scale3d(1,0,1));
      .transform(scale3d(.6,0,1));
      background: @gray_dark; // just lessens contrast slightly
      transition-duration: @speed_slow;
    }
    .app-hud {
      opacity: 0;
      transition: 0;
    }
    #background-grid {
      opacity: 0;
      transition: 0;
    }
    .app-chat {
      width: 0;
      min-width: 0;
      opacity: 0;
      transition: 0;
    }
    .chat-log {
      form {
        box-shadow: 0 1px @gray_light inset;
      }
      textarea {
        opacity: 0;
      }
    }
  }
}
.menu-to-canvas {
  .transform(translate3d(@tile_xl,0,0); scale3d(.9,.9,1));
  .transform-origin(90% 50%);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 8px 17px 0 fade(@black, 0);
  transition: @speed_slow @speed_fast @bezier_fadein;
  &:hover {
    box-shadow: 0 21px 34px 0 fade(@black, 13);
    transition-delay: 0ms;
  }
}
.menu-header {
  .flex(0 0 @tile);
  .flexy(center);
  a {
    .flexy(center, center);
    width: @tile;
    height: @tile;
    transition: @speed @bezier_fadein;
    &:not(:hover) {
      .icon_stroke(@gray_dark);
    }
    &:only-child {
      margin-left: auto;
    }
  }
  h4 {
    .flex(0 1 100%);
    .animation(in-fade-top (@speed * 3));
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding: 0 1rem 0 @tile;
    overflow: hidden;
    &:not(:last-of-type) {
      display: none;
    }
  }
}
.menu-body {
  .flex(1);
  position: relative;
  min-width: @menu_width_min;
  width: @menu_width;
  max-width: @menu_width_max;
  min-height: 100%;
}
.menu-view {
  .flexy(flex-start, flex-start, column);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transition: @speed_slow @bezier_transform;
  &:not(:last-of-type) {
    .translate3d(-100%,0,0);
  }
  &:last-child {
    &:only-child {
      .menu-item {
        .animation-name(in-fade-left);
        .animation-duration(@speed_slow);
        .animation-fill-mode(both);
      }
    }
  }
  &:not(:only-child) {
    &:not(:first-child) {
      .menu-item {
        .animation-name(in-fade-right);
        .animation-duration(@speed_slow);
        .animation-fill-mode(both);
      }
    }
  }
  article {
    padding: @menu_padding;
    width: 100%;
  }
}
.menu-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  background: @overlay_background;
  .mq_640({
    width: 100vw;
    min-width: 100vw;
  });
}
.menu-item {
  .animation_cascade(25);
  &[role="button"] {
    .flexy(center);
    .icon_stroke(@gray);
    .icon_fill(@gray);
    width: 100%;
    color: @gray;
    transition+: color @speed_fast @bezier_fadein;
    transition+: height @speed_fast @bezier_fadein;
    overflow: hidden;
    &:hover {
      .icon_stroke(@black);
      .icon_fill(@black);
      color: @black;
      transition-duration: @speed_fast, 0ms;
    }
    i {
      padding: @menu_padding;
    }
    path {
      transition: @speed_fast @bezier_fadein;
    }
  }
}
.menu-invite-form {
  .flexy(column);
  margin-bottom: auto;
}
.invite-recipient {
  .flexy();
  &:hover {
    a {
      opacity: 1;
    }
    ~ .invite-recipient {
      a {
        opacity: 0;
      }
    }
  }
  &:not(:hover) {
    color: @gray_light;
  }
  &:last-of-type {
    a {
      opacity: 1;
    }
  }
  a {
    opacity: 0;
    margin-left: .5em;
    &:not(:hover) {
      &:after {
        content: "?";
        pointer-events: none;
      }
    }
  }
}
.invite-recipient-email {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-prompt {
  .flex(1 0 100%);
  .flexy(column);
}
.menu-prompt-body {
  .flex(1 1 100%);
  .scrollbar_hide();
  padding: 0 2rem;
  overflow-y: auto;
  &:last-of-type {
    padding-bottom: @tile;
  }
}
.menu-button {
  &[role="button"] {
    .flexy(center, center);
    height: @tile;
    margin-bottom: @tile;
    transition: @speed_fast @bezier_fadein;
    border: 1px solid @font_color;
    &:hover {
      color: @white;
      background: @font_color;
    }
  }
}
.shortcuts-items {
  td {
    padding: .5em 0;
  }
}
.shortcuts-keys {
  .flexy(center);
}
.shortcuts-key,
.shortcuts-misc {
  .flexy(center, center);
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  cursor: default;
  + .shortcuts-key,
  + .shortcuts-misc {
    position: relative;
    margin-left: 1.5em;
    &:before {
      .flexy(center, center);
      content: "+";
      position: absolute;
      right: 100%;
      width: 1.5em;
      margin-top: .25em;
    }
  }
}
.shortcuts-key {
  .inline(@gray_light);
  border-radius: .5em;
  &.no-symbol {
    font-size: 0.750em;
  }
}
.shortcuts-misc {
  .icon_stroke(stroke-width; 4);
  i {
    font-size: 1.9em;
  }
}
.shortcuts-result {
  margin: 0 1em;
  cursor: default;
}
.mixpanel-badge {
  display: block;
  margin: auto auto 0;
  .mq_640({
    display: none;
  });
  svg {
    fill: @gray_mixpanel;
  }
}
.recent-time-group {
  text-transform: capitalize;
  margin-bottom: 2em;
  &:not(:first-child) {
    margin-top: 5em;
  }
}
.recent-doc-title {
  display: block;
  line-height: 1em;
  margin: 1em 0;
  a {
    &:not(:hover) {
      color: @gray;
    }
  }
}
.recent-doc-thumb {
  display: block;
  position: relative;
  height: 15rem;
  border: 1px solid @gray_lighter;
  overflow: hidden;
  transition: @speed @bezier_fadein;
  &:hover {
    border-color: @gray;
    transition-duration: @speed_fast;
  }
  img {
    width: 100%;
    opacity: .5;
  }
}
// TODO come back to cleanup loading styles here -dk (12/09/14)
.loading {
  .loading-ellipses {
    display: block;
  }
  .recent-doc-title {
    visibility: hidden;
  }
  img {
    display: none;
  }
  img.loading-image {
    display: block;
  }
}
img.loading-image {
  display: none;
}
.loading-ellipses {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
  display: none;
}
.loading-ellipses i {
  opacity: 0;
  .animation(dot 1.3s 0.0s infinite);
}
.loading-ellipses i+i {
  opacity: 0;
  .animation(dot 1.3s 0.2s infinite);
}
.loading-ellipses i+i+i {
  opacity: 0;
  .animation(dot 1.3s 0.3s infinite);
}
.privacy-select {
  .flexy(column);
  &:hover {
    .privacy-label {
      &:not(:hover) {
        opacity: .34;
      }
    }
  }
  &:not(:hover) {
    .privacy-radio {
      &:not(:checked) {
        + .privacy-label {
          height: 0;
          opacity: 0;
        }
      }
    }
  }
}
.privacy-label {
  .flexy(center);
  height: @tile;
  cursor: pointer;
  overflow: hidden;
  transition: @speed;
  i {
    margin: @menu_padding;
    margin-right: 1rem;
  }
}
.access-list {
  margin-top: @tile / 2;
}
.access-card {
  .flexy(center);
  position: relative;
  // max-width: @menu_width; // TODO fix this
  padding: .5rem 1.5rem;
  cursor: default;
  transition: @speed;
  &:not(:hover) {
    .access-options {
      right: -@tile * 2;
      padding: 1.5rem 0;
      &:before {
        width: 0;
      }
    }
    .access-option {
      margin: 0;
      opacity: 0;
    }
  }
  &.requesting {
    &:hover {
      .access-avatar,
      .access-details {
        opacity: .8;
        transition: @speed_fast @bezier_fadein;
      }
      .access-avatar {
        .filter(grayscale(1));
        transition: @speed_fast @bezier_fadein;
      }
      .access-status {
        color: @font_color;
        transition: @speed_fast @bezier_fadein;
      }
    }
    .access-status {
      color: @blue;
    }
  }
  &.denied {
    .access-avatar {
      box-shadow: 0 -1px 3px @black inset;
      img {
        .filter(grayscale(1));
        opacity: .5;
      }
    }
    .access-details {
      opacity: .5;
    }
    .access-status {
      color: @font_color;
    }
  }
}
.access-avatar {
  @size: 3rem;
  .flex(0 0 @size);
  height: @size;
  border-radius: @size;
  transition: @speed @bezier_fadein;
  img {
    width: @size;
    height: @size;
    border-radius: @size;
    background-image: url("/img/avatar.svg");
    box-shadow+:  0    1px @gray_light inset;
    box-shadow+:  0   -1px @gray_light inset;
    box-shadow+:  1px  0   @gray_light inset;
    box-shadow+: -1px  0   @gray_light inset;
  }
}
.access-details {
  .flexy(flex-start, center, column);
  &:not(:only-child) {
    margin-left: 1rem;
  }
  span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.access-status {
  color: @gray_light;
}
.access-options {
  .flexy(center);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: @menu_padding;
  background: @overlay_background;
  transition+: right @speed_fast @bezier_transform;
  transition+: padding @speed_fast @bezier_transform;
  &:before {
    .gradient(to right; fade(@overlay_background, 0) @overlay_background);
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: @menu_padding;
    height: 100%;
    transition: width @speed @bezier_transform;
  }
}
.access-option {
  .flexy(center, center);
  width: @tile / 2;
  height: @tile / 2;
  border: 1px solid @gray;
  border-radius: @tile;
  transition+: opacity @speed_fast @bezier_fadein;
  transition+: margin @speed_slow @bezier_transform;
  &:first-child {
    &:not(:only-child) {
      margin-right: 1rem;
    }
  }
  &.positive {
    .icon_stroke(@blue);
    border-color: @blue;
    &:hover {
      .icon_stroke(@white);
      background: @blue;
    }
  }
  &.negative {
    .icon_stroke(@gray);
    border-color: @gray;
    &:hover {
      .icon_stroke(@white);
      background: @gray;
    }
  }
}
.privacy-public-word,
.privacy-private-word {
  .animation(in-fade-top @speed_slow);
  display: inline-block;
}
